{% load custom %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>

    <style>
        @import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap";

        .card {
            background-color: #fefefe;
            box-shadow: 0 2px 7px rgba(118, 125, 132, .35);
            box-sizing: border-box;
            border-radius: 10px
        }

        html, body {
            margin: 0;
            padding: 0;
            min-height: 100vh
        }

        body {
            background-color: #847F75;
            color: #2b2a26;
            font-family: "Roboto", "Arial", sans-serif;
            display: flex;
            flex-direction: column
        }

        .container {
            padding: 25px 25px 15px;
            max-width: 600px;
            width: 100%;
        }

        p {
            font-size: 16px;
        }
    </style>

    <title>MyAsset - Log Report</title>
</head>
<body>

<table width="100%" cellspacing="0" border="0" style="table-layout: fixed">
    <tr>
        <td style="text-align: center">
            <img src="https://i.ibb.co/dKsRbxB/logo-mail.png" alt="">
        </td>
    </tr>
    <tr>
        <td align="center">
            <table class="card container">
                <tr>
                    <td colspan="3">
                        <h1 id="title">Log Report</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            A request has been put to send the log report, it is available in attached files
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>