{% load custom %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>

    <style>
        @import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap";

        .button {
            outline: none;
            background-color: #ff4141;
            padding: 9px 35px;
            border: none;
            border-radius: 100px;
            font-family: "Roboto", "Arial", sans-serif;
            font-weight: 500;
            font-size: 16px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .12), 0 0 2px rgba(0, 0, 0, .14);
            cursor: pointer;
            transition: background-color .175s
        }

        .button:hover {
            background-color: rgba(255, 65, 65, .8)
        }

        .card {
            background-color: #fefefe;
            box-shadow: 0 2px 7px rgba(118, 125, 132, .35);
            box-sizing: border-box;
            border-radius: 10px
        }

        html, body {
            margin: 0;
            padding: 0;
            min-height: 100vh
        }

        body {
            background-color: #847F75;
            color: #2b2a26;
            font-family: "Roboto", "Arial", sans-serif;
            display: flex;
            flex-direction: column
        }

        .container {
            padding: 25px 25px 15px;
            max-width: 600px;
            width: 100%;
        }

        p {
            font-size: 16px;
        }
    </style>

    <title>MyAsset - {% trans "Password reset" %}</title>
</head>
<body>

<table width="100%" cellspacing="0" border="0" style="table-layout: fixed">
    <tr>
        <td style="text-align: center">
            <img width="128px" src="https://i.ibb.co/6sty5Fs/logo.png" alt="">
        </td>
    </tr>
    <tr>
        <td align="center">
            <table class="card container">
                <tr>
                    <td colspan="3">
                        <h1 id="title">{% trans "Password reset" %}</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            {% trans "Hi " %} <span id="name">{% decrypt user.name %}</span>
                            {% trans ", there has been a request for a password reset on your account, please login using this password to reset it :" %} {{ temp_pass }}
                        </p>
                    </td>
                </tr>
                <tr style="height: 80px">
                    <td align="center" colspan="3">
                        <a id="confirm" href="{{ url }}" class="button"
                           style="color: #fefefe; text-decoration: none;">
                            {% trans "Log in" %}
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Content -->
<div id="content">

</div>
</body>
</html>