{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Kit info' %}{% endblock %}
{% block pagename %}kit_data{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container white-text">
        <div class="row">
            <div class="col s12 m6">
                <h5>{% trans "Equipment of the kit :" %}</h5>
                <div class="divider"></div>
                {% for product in kit.get_products %}
                    <a href="/products/{{ product.id }}/" style="text-decoration: none">
                        <div class="card-panel taprimary white-text">
                            <div class="row" style="display: flex; margin-bottom: 0">
                                <div style="width: fit-content">
                                    <img src="{{ product.product_type.get_picture }}" width="130px" alt="">
                                </div>
                                <div style="margin-left: 20px; width: 100%">
                                    <h6 class="center">{{ product.product_type.name }} - {{ product.local_id }}</h6>
                                    {% if prod_ident %}
                                        <p class="grey-text">{% trans "RFID Tag :" %} {{ product.id_tag }}</p>
                                    {% endif %}
                                    <p class="grey-text">{% trans "Brand :" %} {{ product.product_type.brand }}</p>
                                    <p class="grey-text">{% trans "Model :" %} {{ product.product_type.model }}</p>
                                    <p class="grey-text">{% trans "Serial number :" %} {{ product.serial_number }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col s12 m6">
                <form method="post" action="/racks/kit/{{ kit.id }}/" id="kit_assignation">
                    <input type="hidden" name="kit" value="{{ kit.id }}">
                    <button type="submit" name="assignable" value="{% if kit.assignable %}1{% endif %}"
                            style="display: none" id="btn_keep_assignation"></button>

                    <h5 style="width: 100%">{% trans "Assignation :" %}
                        <button class="btn right" type="submit" name="assignable" style="margin-bottom: 10px"
                                value="{% if not kit.assignable %}1{% endif %}">
                            {% if kit.assignable %}{% trans "Assignation off" %}{% else %}
                                {% trans "Assignation on" %}{% endif %}
                        </button>
                    </h5>
                    <div class="divider"></div>
                    {% if kit.assignable %}
                        {% for kitassign in kit.get_assigned_users %}
                            {% with kitassign.user as user %}
                                <div class="card-panel taprimary">
                                    <h6 class="center">{{ user.get_full_name }}</h6>
                                    <p class="grey-text">
                                        {% trans "Shift" %} :
                                        {% if user.shift == None %}{% trans "All" %}{% else %}
                                            {{ user.shift.name }}{% endif %}
                                        <button type="button" class="btn remove-user right tasecondary"
                                                value="{{ user.id }}">{% trans "Remove" %}</button>
                                    </p>
                                </div>
                            {% endwith %}
                        {% endfor %}
                        <br>
                        <div style="width: 100%" class="center">
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal_add_user"><i
                                    class="fas fa-plus left"></i> {% trans "Add" %}</a>
                        </div>

                        <!-- Modal Structure -->
                        <div id="modal_add_user" class="modal modal-fixed-footer taprimary"
                             style="min-width: 350px;">
                            <div class="modal-content">
                                {% if users %}
                                    <div class="container"
                                         style="display: flex; flex-direction: row; align-items: center;">
                                        <div class="input-field" style="width: 100%">
                                            <input id="search" type="text" class="validate">
                                            <label for="search">{% trans "Search" %}</label>
                                        </div>
                                    </div>
                                    <br>
                                    <table class="white-text" id="user_list">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Email' %}</th>
                                            <th>{% trans 'First name' %}</th>
                                            <th>{% trans 'Last name' %}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>{% if user.email %}{% decrypt user.email %}{% endif %}</td>
                                                <td>{% decrypt user.name %}</td>
                                                <td>{% decrypt user.surname %}</td>
                                                <td>
                                                    <button class="waves-effect waves-light btn tasecondary add-user"
                                                            type="button" value="{{ user.id }}">
                                                        <i class="fas fa-check"></i> {% trans 'Select' %}
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p class="white-text">{% trans "You don't have any users !" %}</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer tafourthiary">
                                <a href="#!"
                                   class="modal-close waves-effect waves-green btn-flat">{% trans 'Close' %}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="card-panel taprimary">
                            {% trans "Assignation is off, this kit cannot be assigned to users" %}
                        </div>
                    {% endif %}
                    <input type="hidden" id="assigned" name="assigned" value="{{ kit.get_assigned_users_list }}">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let btn_keep_assignation = $("#btn_keep_assignation");
            let assigned = $("#assigned");
            let assignedVal = {{ kit.get_assigned_users_list | safe }};

            $(".remove-user").click(function () {
                let rm = parseInt($(this).val());

                if (assignedVal.find(e => e === rm)) {
                    assignedVal = assignedVal.filter((value) => value !== rm);
                    assigned.val(JSON.stringify(assignedVal));
                    btn_keep_assignation.click();
                }
            });


            $(".add-user").click(function () {
                let rm = parseInt($(this).val());

                if (!assignedVal.find(e => e === rm)) {
                    assignedVal.push(rm);
                    assigned.val(JSON.stringify(assignedVal));
                    btn_keep_assignation.click();
                }
            })

            let last_search = "";
            $("#search").on('input', function () {
                let newval = $(this).val();
                if (Math.abs(last_search.length - newval.length) >= 2) {
                    updateUserList(newval)
                }
            });

            function updateUserList(search) {
                last_search = search;
                let search_compo = search.split(" ");

                $("#user_list tr").each(function () {
                    let row = $(this);
                    let childs = row.children();
                    if (childs.length === 4 && childs[0].tagName === "TD") {
                        let show = search.length === 0;

                        if (!show) {
                            for (let j = 0; j < search_compo.length; j++) {
                                let e = search_compo[j].toLowerCase();
                                for (let i = 0; i < 3; i++) {
                                    let txt = childs[i].outerText;
                                    show = txt.toLowerCase().includes(e) || txt === e;
                                    if (show)
                                        break;
                                }
                                if (show)
                                    break;
                            }
                        }

                        row.css("display", show ? "table-row" : "none");
                    }
                });
            }

        });
    </script>
{% endblock %}