{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}

{% block title %}MyAsset - {% trans 'Racks' %}{% endblock %}
{% block pagename %}racks{% endblock %}

{% block styles_ext %}
    <style>
        .divTable {
            display: table;
            width: 100%;
        }

        .divTableRow {
            display: table-row;
        }

        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
        }

        .divTableCell, .divTableHead {
            border: 1px solid #999999;
            display: table-cell;
            padding: 3px 10px;
            width: 50%;
        }

        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
            font-weight: bold;
        }

        .divTableFoot {
            background-color: #EEE;
            display: table-footer-group;
            font-weight: bold;
        }

        .divTableBody {
            display: table-row-group;
        }

        .rack_cell {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="row">
        <div class="col s12 l10 offset-l1 white-text">
            <div class="row">
                <div class="col s12 m9 l10 white-text">
                    <div class="row">
                        {% for rack in racks %}
                            <div class="col s12 m12 l6" class="section scrollspy" id="rack_{{ rack.id }}">
                                {% include 'racks/rack.html' with rack=rack %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col hide-on-small-only m3 l2" style="top: 0; position: sticky; right: auto;">
                    <div class="card tafourthiary">
                        <ul style="list-style-type: none; text-align: center">
                            {% for rack in racks %}
                                <li style="padding: 10px">
                                    <a href="#rack_{{ rack.id }}"
                                       class="white-text btn-large" style="font-size: 18px; font-weight: bold">
                                        <span style="padding-top: 10px; padding-bottom: 10px">{% trans "Rack" %} {{ rack.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script>
        window.addEventListener("load", function () {
            function resize() {
                let cardSelect = $(".card-panel");
                cardSelect.each(function () {
                    $(this).css("height", null)
                });
                let maxVal = 0;
                cardSelect.each(function () {
                    if (!$(this).hasClass("noheight"))
                        maxVal = Math.max(maxVal, $(this).height());
                });
                cardSelect.each(function () {
                    if (!$(this).hasClass("noheight"))
                        $(this).height(maxVal);
                });
            }

            resize();
            window.onresize = resize;
        });

        document.addEventListener("DOMContentLoaded", function () {
            $(".rack_cell a").click(function (e) {
                let th = $(this)
                if (th.hasClass("modal-trigger")) {
                    let href = th.attr('href');
                    let instance = M.Modal.getInstance($(href));
                    instance.open();
                }
                e.stopPropagation();
            });
            $(".rack_cell").click(function () {
                let cs = "modal_case_" + $(this).data("id");
                let modal = M.Modal.getInstance(document.getElementById(cs));
                modal.open();
            });

            let elems = document.querySelectorAll('.scrollspy');
            let instances = M.ScrollSpy.init(elems, []);
        });
    </script>
{% endblock %}