{% load i18n %}
<div class="card-panel noheight {% if rack.state == 1 %}taprimary{% else %}grey darken-1{% endif %}"
     style="margin: 10px;" id="rack_{{ rack.id }}">
    <h3 style="margin-top: 0">{% if rack.master %}
        <i class="fas fa-database" style="margin-right: 15px"></i>{% endif %}{{ rack.name }}<span class="right">
        <a class="waves-effect waves-light btn btn-floating modal-trigger tasecondary" href="#modal_rack_{{ rack.id }}"><i
                class="fas fa-info"></i></a></span></h3>
    <div class="row">
        <div class="divTable">
            <div class="divTableBody">
                {% for left,right in rack.get_cases %}
                    <div class="divTableRow">
                        {% include 'racks/rack_case.html' with case=left %}
                        {% include 'racks/rack_case.html' with case=right %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% for left,right in rack.get_cases %}
    {% include 'racks/rack_case_modal.html' with case=left %}
    {% include 'racks/rack_case_modal.html' with case=right %}
{% endfor %}

<!-- Modal Structure -->
<div id="modal_rack_{{ rack.id }}" class="modal modal-fixed-footer taprimary"
     style="min-width: 350px; width: 30%; max-height: 400px">
    <div class="modal-content">
        <h4>{% trans 'Rack information' %}</h4>
        <p>
            {% trans 'Number' %} : {{ rack.number }}<br>
            {% trans 'Name' %} : {{ rack.name }}<br>
            {% trans 'IP Address' %} : {{ rack.ip_address }}<br>
            {% trans 'Serial number' %} : {{ rack.serial }}<br>
            {% trans 'Part number' %} : {{ rack.partnumber }}<br>
            {% trans 'Door count' %} : {{ rack.doors_count }}<br>
            {% trans 'Status' %} : {% if rack.state %}{% trans 'On' %}{% else %}{% trans 'Off' %}{% endif %}<br>
            {% trans 'UVC activated' %} : {% if rack.number %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}<br>
        </p>
        {% if request.user.ihm_password is not None %}
            <form method="post" action="/racks/">
                {% csrf_token %}
                <input type="hidden" name="rack" value="{{ rack.id }}">
                <div class="row">
                    <div class="input-field col s8">
                        <input placeholder="{{ rack.ip_address }}" id="ip_{{ rack.id }}" name="ip" type="text"
                               class="validate">
                        <label for="ip_{{ rack.id }}">{% trans 'IP Address' %}</label>
                    </div>
                    <div class="input-field col s4">
                        <button type="submit" name="edit_ip"
                                class="waves-effect waves-light btn tasecondary">{% trans "Edit" %}</button>
                    </div>
                </div>
            </form>
            <form method="post" action="/racks/">
                {% csrf_token %}
                <input type="hidden" name="rack" value="{{ rack.id }}">
                <div class="row">
                    <div class="input-field col s8">
                        <select name="door_count">
                            <option value="1" {% if rack.doors_count == 1 %}selected{% endif %}>MAM01UV
                                (1 {% trans "cases" %})
                            </option>
                            <option value="2" {% if rack.doors_count == 2 %}selected{% endif %}>MAM02UV
                                (2 {% trans "cases" %})
                            </option>
                            <option value="3" {% if rack.doors_count == 3 %}selected{% endif %}>MAM03UV
                                (3 {% trans "cases" %})
                            </option>
                            <option value="4" {% if rack.doors_count == 4 %}selected{% endif %}>MAM04UV
                                (4 {% trans "cases" %})
                            </option>
                            <option value="8" {% if rack.doors_count == 8 %}selected{% endif %}>MAM08UV
                                (8 {% trans "cases" %})
                            </option>
                            <option value="16" {% if rack.doors_count == 16 %}selected{% endif %}>MAM16UV
                                (16 {% trans "cases" %})
                            </option>
                            <option value="32" {% if rack.doors_count == 32 %}selected{% endif %}>MAM32UV
                                (32 {% trans "cases" %})
                            </option>
                            <option value="64" {% if rack.doors_count == 64 %}selected{% endif %}>MAM64UV
                                (64 {% trans "cases" %})
                            </option>
                        </select>
                        <label>{% trans 'Door count' %}</label>
                    </div>
                    <div class="input-field col s4">
                        <button type="submit" name="edit_model"
                                class="waves-effect waves-light btn tasecondary">{% trans "Edit" %}</button>
                    </div>
                </div>
            </form>
            <form method="post" action="/racks/">
                {% csrf_token %}
                <input type="hidden" name="rack" value="{{ rack.id }}">
                <div class="row">
                    <div class="input-field col s8">
                        <input id="pass1_{{ rack.id }}" name="password" type="password" class="validate">
                        <label for="pass1_{{ rack.id }}">{% trans 'Password' %}</label>
                    </div>
                    <div class="input-field col s4">
                        <button type="submit" name="reset_rack"
                                class="waves-effect waves-light btn tasecondary">{% trans "Reset" %}</button>
                    </div>
                </div>
            </form>
            <form method="post" action="/racks/">
                {% csrf_token %}
                <input type="hidden" name="rack" value="{{ rack.id }}">
                <div class="row">
                    <div class="input-field col s8">
                        <input id="pass_{{ rack.id }}" name="password" type="password" class="validate">
                        <label for="pass_{{ rack.id }}">{% trans 'Password' %}</label>
                    </div>
                    <div class="input-field col s4">
                        <button type="submit" name="delete_rack"
                                class="waves-effect waves-light btn tasecondary">{% trans "Delete" %}</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="modal-footer tafourthiary">
        <form method="post" action="/racks/">
            {% csrf_token %}
            <input type="hidden" name="rack" value="{{ rack.id }}">
            <button type="submit" class="modal-close waves-effect waves-green btn-flat left" name="activation">
                {% if rack.state %}{% trans 'Deactivate' %}{% else %}{% trans 'Activate' %}{% endif %}</button>
        </form>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans 'Close' %}</a>
    </div>
</div>

{% if goto is not None %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.location.hash = "rack_{{ goto }}";
        });
    </script>
{% endif %}