{% load i18n %}
{% load custom %}

<div class="divTableCell rack_cell" data-id="{{ case.id }}"
     {% if not case.active %}style="background-color: #533232"{% endif %}>
    <span>{{ case.position }} {% if case.is_in_hand %}<a class="modal-trigger" href="#see_user_{{ case.id }}">
        <i style="margin-left: 10px" class="fas fa-user"></i></a>{% endif %}</span><br>
    <div class="row center-align" style="display: flex; flex-wrap: wrap; margin-bottom: 5px; justify-content: center">
        {% if case.kit == None %}
            <div class="card-panel tafourthiary valign-wrapper" style="width: fit-content; margin: 1%; padding: 15px">
                {% trans 'Content not defined' %}
            </div>
        {% else %}
            {% with products=case.kit.get_products %}
                {% for product in products %}
                    <div class="card-panel tasecondary"
                         style="width: fit-content; margin: 1%; max-width: {% picture_width products %}%; padding: 15px">
                        <img src="{{ product.product_type.get_picture }}" alt="" width="100%"
                             style="max-width: 100px"><br>
                        {{ product.product_type.name }}<br>
                        <span class="grey-text">{{ product.local_id }}</span>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endif %}
    </div>
    <div class="row right-align" style="margin-bottom: 5px">
        {% if case.kit is not None and case.kit.user_currently_assigned is not None %}
            {% with case.kit.user_currently_assigned as assigned %}
                <span style="margin-right: 8px">
                    {% trans "Assigned to " %} {{ assigned.get_full_name }}
                </span>
            {% endwith %}
        {% endif %}
        <br>
        <span style="margin-right: 8px">{% trans 'Case is currently ' %}{% if case.is_empty %}
            <span class="red-text">{% trans 'Empty' %}</span>{% else %}
            <span class="green-text text-lighten-2">{% trans 'Full' %}</span>{% endif %}</span>
    </div>
</div>