{% load i18n %}

<div id="modal_case_{{ case.id }}" class="modal bottom-sheet taprimary">
    <div class="modal-content">
        <div class="container">
            <h4>{% trans 'Case ' %} {{ case.position }} {% trans 'of rack' %} {{ case.rack.name }}</h4>
            <br>
            <div class="container center">
                <form method="post" action="/racks/">
                    <input type="hidden" name="case" value="{{ case.id }}">
                    <button type="submit" class="btn-large tasecondary" name="activation">
                        {% if case.active %}
                            {% trans 'Deactivate case' %}
                        {% else %}
                            {% trans 'Activate case' %}
                        {% endif %}
                    </button>
                    {% csrf_token %}
                </form>
                <br>
                {% if case.kit %}
                    <a class="btn-large tasecondary" href="/racks/kit/{{ case.kit.id }}/">
                        {% trans 'See associated kit' %}
                    </a>
                {% endif %}
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="modal-footer tafourthiary">
        <div class="container">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans 'Close' %}</a>
        </div>
    </div>
</div>

{% if case.is_in_hand %}
    {% with case.get_in_hand as tkdata %}
        <div id="see_user_{{ case.id }}" class="modal taprimary">
            <div class="modal-content">
                <h4>{% trans "User of the case's content :" %}</h4>
                <p>{% trans "Name" %} : {{ tkdata.user.get_full_name }}</p>
                <p>{% trans "Shift :" %}
                    {% if tkdata.user.shift %}{{ tkdata.user.shift.name }}{% else %}{% trans "All" %}{% endif %}</p>
                <p>{% trans "Since" %} : {{ tkdata.out }}</p>
            </div>
            <div class="modal-footer tafourthiary">
                <a href="/users/{{ tkdata.user.id }}/"
                   class="waves-effect waves-green btn-flat left">{% trans "See user" %}</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
            </div>
        </div>
    {% endwith %}
{% endif %}