{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Equipment Models' %}{% endblock %}
{% block pagename %}products{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body tasecondary">
                        <form method="post" action="/products/batteries/">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <select id="add_type" name="type">
                                        <option value="" disabled selected>{% trans "Choose" %}</option>
                                        {% for battery_type in battery_types %}
                                            <option value="{{ battery_type.id }}">{{ battery_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="add_family">{% trans "Battery Model" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="add_serial" name="serial" type="text" class="validate" minlength="2"
                                           maxlength="512">
                                    <label for="add_serial">{% trans "Serial number" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_local_id" name="local_id" type="text" class="validate" minlength="2"
                                           maxlength="512">
                                    <label for="add_local_id">{% trans "Local ID" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <select id="add_rack" name="rack">
                                        <option value="" disabled selected>{% trans "Choose" %}</option>
                                        {% for rack in racks %}
                                            <option value="{{ rack.id }}">{{ rack.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="add_rack">{% trans "Rack" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s12 center">
                                    <button type="submit" class="btn" name="add_battery">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if batteries %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Model' %}</th>
                        <th>{% trans 'Serial number' %}</th>
                        <th>{% trans 'Local ID' %}</th>
                        <th>{% trans 'Used' %}</th>
                        <th>{% trans 'Rack' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for battery in batteries %}
                        <tr>
                            <td>{{ battery.type.name }}</td>
                            <td>{{ battery.serial_number }}</td>
                            <td>{{ battery.local_id }}</td>
                            <td>{{ battery.used }}</td>
                            <td>{% if battery.rack %}{{ battery.rack.name }}{% else %}-{% endif %}</td>
                            <td><img width="15%" src="{{ model.get_picture }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="white-text">{% trans "You don't have any batteries registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
{% endblock %}