{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Equipment Models' %}{% endblock %}
{% block pagename %}products{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body tasecondary">
                        <form method="post" action="/products/models/" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <select id="add_family" name="family">
                                        <option value="" disabled selected>{% trans "Choose" %}</option>
                                        {% for family in families %}
                                            <option value="{{ family.id }}">{{ family.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="add_family">{% trans "Equipment Family" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                           maxlength="512">
                                    <label for="add_name">{% trans "Name" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_brand" name="brand" type="text" class="validate" minlength="2"
                                           maxlength="512">
                                    <label for="add_brand">{% trans "Brand" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="add_model" name="model" type="text" class="validate" minlength="2"
                                           maxlength="512">
                                    <label for="add_model">{% trans "Model" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_reference" name="reference" type="text" class="validate"
                                           minlength="2" maxlength="512">
                                    <label for="add_reference">{% trans "Reference" %}</label>
                                </div>
                                <div class="file-field input-field col s12 m6">
                                    <div class="btn">
                                        <span>{% trans "Image" %}</span>
                                        <input type="file" accept="image/png, image/jpeg" name="image">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s12 center">
                                    <button type="submit" class="btn" name="add_family">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if models %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Family' %}</th>
                        <th>{% trans 'Brand' %}</th>
                        <th>{% trans 'Model' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Reference' %}</th>
                        <th>{% trans 'Picture' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for model in models %}
                        <tr>
                            <td>{{ model.family.name }}</td>
                            <td>{{ model.brand }}</td>
                            <td>{{ model.model }}</td>
                            <td>{{ model.name }}</td>
                            <td>{{ model.reference }}</td>
                            <td><img width="15%" src="{{ model.get_picture }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="white-text">{% trans "You don't have any equipment models registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
{% endblock %}