{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Incidents' %}{% endblock %}
{% block pagename %}incidents{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>

    <div class="container">
        <div class="row">
            {% if incidents %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Equipment' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Reported by' %}</th>
                        <th>{% trans 'Reported on' %}</th>
                        <th>{% trans 'Solved by' %}</th>
                        <th>{% trans 'Solved on' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for incident in incidents %}
                        <tr>
                            <td>
                                <a href="/products/{{ incident.product.id }}/">
                                    <div class="card-panel tasecondary white-text"
                                         style="width: fit-content; margin: 1%; padding: 15px">
                                        <img src="{{ incident.product.product_type.get_picture }}" alt="" width="100%"
                                             style="max-width: 100px"><br>
                                        {{ incident.product.product_type.name }}<br>
                                        <span class="grey-text">{{ incident.product.local_id }}</span>
                                    </div>
                                </a>
                            </td>
                            <td>{{ incident.get_type }}</td>
                            <td>
                                {% if incident.solved == 2 %}
                                    <p>{% trans "Solved" %}</p>
                                {% elif incident.solved == 1 %}
                                    <p>{% trans "Ongoing" %}
                                        <a class="center waves-effect waves-light btn modal-trigger tasecondary"
                                           href="#comment_history_{{ incident.id }}"><i
                                                class="fas fa-history"></i></a>
                                    </p>

                                    <!-- Modal Structure -->
                                    <div id="comment_history_{{ incident.id }}" class="modal modal-fixed-footer">
                                        <div class="modal-content black-text">
                                            <h4>{% trans "Comment history" %}</h4>

                                            <table class="table-sort table-arrows">
                                                <thead>
                                                <tr>
                                                    <th>{% trans 'Content' %}</th>
                                                    <th>{% trans 'Author' %}</th>
                                                    <th>{% trans 'Date' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for comment in incident.get_comment_history %}
                                                    <tr>
                                                        <td>{{ comment.comment }}</td>
                                                        <td>{{ comment.creation_user.get_full_name }}</td>
                                                        <td>{{ comment.creation_timestamp }}</td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!"
                                               class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <p class="red-text">{% trans "Unsolved" %}</p>
                                {% endif %}
                            </td>
                            <td>{{ incident.creation_user.get_full_name }}</td>
                            <td>{{ incident.creation_timestamp }}</td>
                            {% if incident.solved and incident.update_user.id != incident.creation_user.id %}
                                <td>{{ incident.update_user.get_full_name }}</td>
                                <td>{{ incident.update_timestamp }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any incidents reported !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
{% endblock %}