{% load i18n %}

<option value="" disabled selected>{% trans "Choose" %}</option>
{% if models %}
    {% for model in models %}
        <option value="{{ model.id }}">{{ model.name }} | {{ model.model }}</option>
    {% endfor %}
{% endif %}