{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Battery Models' %}{% endblock %}
{% block pagename %}products{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body tasecondary">
                        <form method="post" action="/products/batteries/models/">
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                           maxlength="512">
                                    <label for="add_name">{% trans "Name" %}</label>
                                </div>
                                <div class="col s12 m6 center">
                                    <button type="submit" class="btn" name="add_battery_type">{% trans "Add" %}</button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if battery_types %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for battery_type in battery_types %}
                        <tr>
                            <td>{{ battery_type.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="white-text">{% trans "You don't have any battery models registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
{% endblock %}