{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Equipment' %}{% endblock %}
{% block pagename %}products{% endblock %}
{% battery_system as BATT_SYSTEM %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        {% if import_errors and import_errors|length > 0 %}
            <div class="row container center">
                <div class="col s12 m8 offset-m2 z-depth-4 card-panel hoverable container red darken-2">
                    {% for error in import_errors %}
                        <p class="white-text">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col l6 m8 s12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                        <div class="collapsible-body white-text">
                            <form method="post" action="/products/">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <label>{% trans "Equipment Family" %}</label>
                                        <select class="browser-default" id="add_selector_family">
                                            <option value="" disabled selected>{% trans "Choose" %}</option>
                                            {% for family in families %}
                                                <option value="{{ family.id }}">{{ family.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col s12 m6">
                                        <label>{% trans "Equipment Model" %}</label>
                                        <select class="browser-default" id="add_selector_model" name="type">
                                            <option value="" disabled
                                                    selected>{% trans "Select a family first" %}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="input-field col s12 m6">
                                        <input id="add_serial_number" name="serial_number" type="text" class="validate"
                                               minlength="2" required
                                               maxlength="512">
                                        <label for="add_serial_number">{% trans "Serial number" %}</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id="add_local_id" name="local_id" type="text" class="validate"
                                               minlength="2" required
                                               maxlength="512">
                                        <label for="add_local_id">{% trans "Local ID" %}</label>
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="input-field col s12 m6">
                                        {% if prod_ident %}
                                            <input id="add_id_tag" name="id_tag" type="text" class="validate"
                                                   minlength="2" required maxlength="512">
                                            <label for="add_id_tag">{% trans "RFID" %}</label>
                                        {% endif %}
                                    </div>
                                    <div class="col s12 m6">
                                        {% if BATT_SYSTEM %}
                                            <label>{% trans "Battery type" %}</label>
                                            <select class="browser-default" id="add_selector_batt_type"
                                                    name="battery_type">
                                                <option value="" disabled selected>{% trans "Choose" %}</option>
                                                <option value="0">{% trans "None" %}</option>
                                                {% for battery_type in battery_types %}
                                                    <option value="{{ battery_type.id }}">{{ battery_type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="col s12 m6 center">
                                        <button type="submit" class="btn" name="add_family">{% trans "Add" %}</button>
                                    </div>
                                </div>

                                {% csrf_token %}
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <label>{% trans "Filter by equipment type" %}</label>
                    <select class="browser-default" id="filter_family">
                        <option value="" disabled selected>{% trans "Choose" %}</option>
                        <option value="0">{% trans "All types" %}</option>
                        {% for family in families %}
                            <option value="{{ family.id }}">{{ family.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col l6 m4 s12">
                <div style="text-align: center; padding: 20px" class="card tafourthiary">
                    <form method="get" action="/products/">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div class="input-field" style="width: 100%">
                                <input id="search" name="search" type="text" class="validate" value="{{ search }}">
                                <label for="search">{% trans "Search" %}</label>
                            </div>
                            <button type="submit" class="btn" style="margin-left: 40px">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
                <div class="row center">
                    <a href="#import_users" class="btn modal-trigger">{% trans "Import" %}</a>
                    <a href="#export_users" class="btn modal-trigger">{% trans "Export" %}</a>
                </div>

                <div id="import_users" class="modal">
                    <div class="modal-content">
                        <h4>{% trans "Import equipment" %}</h4>

                        <form method="post" action="/products/" enctype="multipart/form-data">
                            <div class="row valign-wrapper">
                                <div class="file-field input-field col s6 m8 l10">
                                    <div class="btn">
                                        <span>{% trans "Select file" %}</span>
                                        <input type="file" accept="text/csv" name="config">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate black-text" type="text">
                                    </div>
                                </div>
                                <div class="col s6 m4 l2">
                                    <button type="submit" class="btn waves-effect waves-light"
                                            name="import_users">{% trans "Import" %}</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                    </div>
                </div>

                <div id="export_users" class="modal modal-fixed-footer">
                    <div class="modal-content" style="overflow-y: hidden">
                        <h4>{% trans "Export equipment" %}</h4>

                        <form method="post" action="/products/" style="height: calc(100% - 70px)">
                            <div class="row" style="height: 90%; overflow-y: scroll;">
                                {% for product in all_products %}
                                    <div class="col s6 m4 l3">
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in export_box"
                                                       name="product_{{ product.id }}" checked="checked"/>
                                                <span>{{ product.product_type.name }} - {{ product.local_id }}</span>
                                            </label>
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col s6 m8 l10">
                                    <a id="export_select_all" class="btn" href="#">{% trans "Select all" %}</a>
                                    <a id="export_deselect_all" class="btn" href="#">{% trans "Deselect all" %}</a>
                                </div>
                                <div class="col s6 m4 l2">
                                    <button type="submit" class="btn waves-effect waves-light"
                                            name="export_users">{% trans "Export" %}</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if products %}
                <div class="divider"></div>
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th></th>
                        {% if prod_ident %}
                            <th class="sorted" data-name="id_tag">{% trans 'RFID' %}</th>
                        {% endif %}
                        <th class="sorted" data-name="product_type__name">{% trans 'Model' %}</th>
                        <th class="sorted" data-name="serial_number">{% trans 'Serial number' %}</th>
                        <th class="sorted" data-name="local_id">{% trans 'Local ID' %}</th>
                        <th>{% trans 'Assignable' %}</th>
                        <th>{% trans 'Assigned users' %}</th>
                        <th class="sorted" data-name="location">{% trans 'Location' %}</th>
                        {% if BATT_SYSTEM %}
                            <th>{% trans 'Battery Model' %}</th>
                        {% endif %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr style="background-color: {% if product.kit is None %}#3535f866{% elif not product.is_available %}#ff00004d{% endif %}">
                            <td>{% if product.is_in_hand %}
                                <i style="margin-left: 10px" class="fas fa-user"></i>{% endif %}</td>
                            {% if prod_ident %}
                                <td>{{ product.id_tag }}</td>
                            {% endif %}
                            <td>{{ product.product_type.name }}</td>
                            <td>{{ product.serial_number }}</td>
                            <td>{{ product.local_id }}</td>
                            <td>{% if product.kit and product.kit.assignable %}{% trans "Yes" %}{% else %}
                                {% trans "No" %}{% endif %}</td>
                            <td>
                                {% for us in product.get_assigned %}
                                    <div class="card taprimary white-text"
                                         style="margin: 5px 0 0; padding: 5px; width: fit-content">{{ us.get_full_name }}</div>
                                {% endfor %}
                            </td>
                            <td>{{ product.locate }}</td>
                            {% if BATT_SYSTEM %}
                                <td>{% if product.battery_type %}{{ product.battery_type.name }}{% else %}
                                    -{% endif %}</td>
                            {% endif %}
                            <td>
                                <a class="waves-effect waves-light btn" href="/products/{{ product.id }}/">
                                    <i class="fas fa-edit"></i> {% trans 'Edit' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any equipment registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort-db.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#add_selector_family").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/products/models/?js=" + $(this).val(),
                    success: function (data) {
                        $("#add_selector_model").html(data);
                    }
                });
            });

            $("#filter_family").change(function () {
                window.location.search = $(this).val() === "0" ? "" : "fam=" + $(this).val();
            });

            let export_checkboxes = $(".export_box");

            $("#export_select_all").click(function () {
                export_checkboxes.each(function () {
                    $(this).prop("checked", true);
                });
                return false;
            });
            $("#export_deselect_all").click(function () {
                export_checkboxes.each(function () {
                    $(this).prop("checked", false);
                });
                return false;
            });
        });
    </script>
{% endblock %}