{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Equipment info' %}{% endblock %}
{% block pagename %}product_info{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container white-text">
        <a class="btn gobackbtn"><i class="fas fa-chevron-left"></i></a>
        <div class="row center" style="display: flex; justify-content: center">
            {% if product.can_be_deleted %}
                <form method="post" action="/products/{{ product.id }}/">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <button type="submit" class="btn" name="delete_product" value="1"
                            style="margin-right: 20px">{% trans "Delete" %}</button>
                </form>
            {% endif %}
            <a href="#edit_product"
               class="btn modal-trigger">{% trans "Edit" %}</a>

            <div id="edit_product" class="modal">
                <div class="modal-content taprimary white-text">
                    <h4>{% trans "Equipement edition : " %}{{ product.local_id }}</h4>
                    <form method="post" action="/products/{{ product.id }}/">
                        {% csrf_token %}
                        <input type="hidden" name="edit_product" value="1">
                        <input type="hidden" name="product" value="{{ product.id }}">

                        <div class="row">
                            <div class="col s12 m6">
                                <label>{% trans "Equipment Family" %}</label>
                                <select class="browser-default" id="edit_selector_family">
                                    <option value="" disabled>{% trans "Choose" %}</option>
                                    {% for family in families %}
                                        <option value="{{ family.id }}"
                                                {% if product.product_type.family.id == family.id %}selected{% endif %}>{{ family.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m6">
                                <label>{% trans "Equipment Model" %}</label>
                                <select class="browser-default" id="edit_selector_model" name="type">
                                    <option value="" disabled>{% trans "Choose" %}</option>
                                    {% if models %}
                                        {% for model in models %}
                                            <option value="{{ model.id }}"
                                                    {% if product.product_type.id == model.id %}selected{% endif %}>{{ model.name }}
                                                | {{ model.model }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="input-field col s12 m6">
                                <input id="add_serial_number" name="serial_number" type="text" class="validate"
                                       minlength="2" maxlength="512" value="{{ product.serial_number }}">
                                <label for="add_serial_number">{% trans "Serial number" %}</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="add_local_id" name="local_id" type="text" class="validate"
                                       minlength="2" maxlength="512" value="{{ product.local_id }}">
                                <label for="add_local_id">{% trans "Local ID" %}</label>
                            </div>
                        </div>
                        <div class="row">
                            {% if prod_ident %}
                                <div class="input-field col s6">
                                    <input id="add_id_tag" name="id_tag" type="text" class="validate"
                                           minlength="2" maxlength="512" value="{{ product.id_tag }}">
                                    <label for="add_id_tag">{% trans "RFID" %}</label>
                                </div>
                            {% endif %}
                            <div class="input-field col s6 center">
                                <button type="submit"
                                        class="btn tasecondary">{% trans "Validate" %}</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="modal-footer tafourthiary">
                    <form method="post" action="/products/{{ product.id }}/">
                        {% csrf_token %}
                        <input type="hidden" name="operation" value="delete">
                        <button type="submit"
                                class="left waves-effect waves-green btn-flat">{% trans "Delete" %}</button>
                    </form>
                    <a href="#!"
                       class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                </div>
            </div>
        </div>
        <div class="container row" style="display: flex;">
            <div style="width: fit-content">
                <img src="{{ product.product_type.get_picture }}" width="180px" alt="">
            </div>
            <div style="margin-left: 20px; width: 100%">
                <div class="container">
                    <h6 class="center">{{ product.product_type.name }} - {{ product.local_id }}</h6>
                    {% if prod_ident %}
                        <p class="grey-text">{% trans "RFID Tag :" %} {{ product.id_tag }}</p>
                    {% endif %}
                    <p class="grey-text">{% trans "Brand :" %} {{ product.product_type.brand }}</p>
                    <p class="grey-text">{% trans "Model :" %} {{ product.product_type.model }}</p>
                    <p class="grey-text">{% trans "Serial number :" %} {{ product.serial_number }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                {% if product.kit != None %}
                    <h5>{% trans "Equipment of the kit :" %} <a style="margin-left: 20px"
                                                                href="/racks/kit/{{ product.kit.id }}"
                                                                class="btn">{% trans "See kit" %}</a></h5>
                    <div class="divider"></div>
                    {% for prod in product.kit.get_products %}
                        {% if prod.id != product.id %}
                            <a href="/products/{{ prod.id }}/" style="text-decoration: none">
                                <div class="card-panel taprimary white-text">
                                    <div class="row" style="display: flex; margin-bottom: 0">
                                        <div style="width: fit-content">
                                            <img src="{{ prod.product_type.get_picture }}" width="130px" alt="">
                                        </div>
                                        <div style="margin-left: 20px; width: 100%">
                                            <h6 class="center">{{ prod.product_type.name }}
                                                - {{ prod.local_id }}</h6>
                                            {% if prod_ident %}
                                                <p class="grey-text">{% trans "RFID Tag :" %} {{ prod.id_tag }}</p>
                                            {% endif %}
                                            <p class="grey-text">{% trans "Brand :" %} {{ prod.product_type.brand }}</p>
                                            <p class="grey-text">{% trans "Model :" %} {{ prod.product_type.model }}</p>
                                            <p class="grey-text">{% trans "Serial number :" %} {{ prod.serial_number }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h5>{% trans "Equipment of the kit :" %}</h5>
                    <div class="divider"></div>
                    <div class="card-panel taprimary">
                        {% trans 'There is not kit associated to this equipment' %}
                    </div>
                {% endif %}
            </div>
            <div class="col s12 m6">
                <h5>{% trans "Location information :" %}</h5>
                <div class="divider"></div>
                <div class="card-panel taprimary valign-wrapper" style="display: flex; justify-content: center">
                    {% if case == None %}
                        {% trans "This equipment is not stored in any racks" %}
                    {% else %}
                        {% trans "This equipment is located in" %}
                        <h5 style="margin-left: 15px; margin-top: 0; margin-bottom: 2px">{{ case.rack.name }} {{ case.position }}</h5>
                    {% endif %}
                </div>
                <br>
                <div class="card-panel taprimary valign-wrapper" style="display: flex; justify-content: center">
                    {% if userOut == None %}
                        {% trans "This equipment has not been taken out by any user" %}
                    {% else %}
                        {% trans "This equipment is in the hands of" %}
                        <div class="center">
                            <h6 style="margin-left: 15px; margin-top: 0; margin-bottom: 2px">
                                {{ userOut.get_full_name }}</h6>
                            {% trans "Shift :" %}
                            {% if usetOut.shift %}{{ userOut.shift.name }}{% else %}{% trans "All" %}{% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <h5>{% trans "Incidents :" %}</h5>
            <div class="divider"></div>
            {% if incidents %}
                {% for incident in incidents %}
                    <div class="col s12 m6">
                        <div class="card-panel taprimary">
                            <div class="row" style="margin-bottom: 0">
                                <div style="margin-left: 10px; margin-right: 10px">
                                    <h6 class="center">{{ incident.get_type }}</h6>
                                    {% if incident.solved == 2 %}
                                        <p class="center">{% trans "Solved" %}</p>
                                    {% elif incident.solved == 1 %}
                                        <p class="center">{% trans "Ongoing" %}
                                            <a class="center waves-effect waves-light btn modal-trigger tasecondary"
                                               href="#comment_history_{{ incident.id }}"><i
                                                    class="fas fa-history"></i></a>
                                        </p>

                                        <!-- Modal Structure -->
                                        <div id="comment_history_{{ incident.id }}" class="modal modal-fixed-footer">
                                            <div class="modal-content black-text">
                                                <h4>{% trans "Comment history" %}</h4>

                                                <table class="table-sort table-arrows">
                                                    <thead>
                                                    <tr>
                                                        <th>{% trans 'Content' %}</th>
                                                        <th>{% trans 'Author' %}</th>
                                                        <th>{% trans 'Date' %}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for comment in incident.get_comment_history %}
                                                        <tr>
                                                            <td>{{ comment.comment }}</td>
                                                            <td>{{ comment.creation_user.get_full_name }}</td>
                                                            <td>{{ comment.creation_timestamp }}</td>
                                                        </tr>

                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!"
                                                   class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <p class="center red-text">{% trans "Unsolved" %}</p>
                                    {% endif %}
                                    <p class="grey-text"
                                       style="margin-bottom: 5px">{% trans "Reported by :" %} <span
                                            class="white-text">{{ incident.creation_user.get_full_name }}</span></p>
                                    <p class="grey-text"
                                       style="margin-top: 5px">{% trans "Reported on :" %} <span
                                            class="white-text">{{ incident.creation_timestamp }}</span></p>
                                    {% if incident.solved == 2 %}
                                        <p class="grey-text"
                                           style="margin-bottom: 5px">{% trans "Solved by :" %} <span
                                                class="white-text">{{ incident.update_user.get_full_name }}</span></p>
                                        <p class="grey-text"
                                           style="margin-top: 5px">{% trans "Solved on :" %} <span
                                                class="white-text">{{ incident.update_timestamp }}</span></p>

                                        {% if incident.get_comment_history|length > 0 %}
                                            <p class="center">
                                                <a class="center waves-effect waves-light btn modal-trigger tasecondary"
                                                   href="#comment_history_{{ incident.id }}"><i
                                                        class="fas fa-history"></i></a>
                                            </p>

                                            <!-- Modal Structure -->
                                            <div id="comment_history_{{ incident.id }}"
                                                 class="modal modal-fixed-footer">
                                                <div class="modal-content black-text">
                                                    <h4>{% trans "Comment history" %}</h4>

                                                    <table class="table-sort table-arrows">
                                                        <thead>
                                                        <tr>
                                                            <th>{% trans 'Content' %}</th>
                                                            <th>{% trans 'Author' %}</th>
                                                            <th>{% trans 'Date' %}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for comment in incident.get_comment_history %}
                                                            <tr>
                                                                <td>{{ comment.comment }}</td>
                                                                <td>{{ comment.creation_user.get_full_name }}</td>
                                                                <td>{{ comment.creation_timestamp }}</td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#!"
                                                       class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if incident.solved == 1 and incident.update_user is not None and incident.update_user.id != incident.creation_user.id %}
                                            <p class="grey-text"
                                               style="margin-bottom: 5px">{% trans "Last update by :" %} <span
                                                    class="white-text">{{ incident.update_user.get_full_name }}</span>
                                            </p>
                                            <p class="grey-text"
                                               style="margin-top: 5px">{% trans "Last update on :" %} <span
                                                    class="white-text">{{ incident.update_timestamp }}</span></p>
                                        {% endif %}
                                        <form method="post" action="/products/{{ product.id }}/" class="center">
                                            <input type="hidden" name="incident" value="{{ incident.id }}">
                                            <div class="row valign-wrapper">
                                                <div class="input-field col s12 m6 l7">
                                                    <input id="comment_{{ incident.id }}" type="text"
                                                           class="validate" name="comment">
                                                    <label for="comment_{{ incident.id }}">{% trans "Comment" %}</label>
                                                </div>
                                                <div class="col s12 m6 l5">
                                                    <button type="submit" name="comment_incident" value="1"
                                                            class="btn tasecondary">
                                                        {% trans "Change status" %}
                                                    </button>
                                                </div>
                                            </div>
                                            {% csrf_token %}
                                        </form>
                                        <form method="post" action="/products/{{ product.id }}/" class="center">
                                            <input type="hidden" name="incident" value="{{ incident.id }}">
                                            <button type="submit" name="solve_incident" value="1"
                                                    class="btn tasecondary">
                                                {% trans "Mark solved" %}
                                            </button>
                                            {% csrf_token %}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card-panel taprimary">
                    <div class="row" style="margin-bottom: 0">
                        <div style="margin-left: 20px; width: 100%">
                            <h6 class="center">{% trans "There is no incidents reported for this equipment" %}</h6>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <h5>{% trans "Activity :" %}</h5>
            <div class="divider"></div>
            {% if logs %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Out' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>#{{ log.id }}</td>
                            <td><a href="/users/{{ log.user.id }}/" class="white-text"
                                   style="text-decoration: underline">{{ log.user.get_full_name }}</a></td>
                            <td>{% if log.out %}{% trans "Delivery" %}{% else %}
                                {% trans "Reception" %}{% endif %}</td>
                            <td>{{ log.creation_timestamp }}</td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="card-panel taprimary">
                    <div class="row" style="margin-bottom: 0">
                        <div style="margin-left: 20px; width: 100%">
                            <h6 class="center">{% trans "There is no activity on this equipment" %}</h6>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#edit_selector_family").change(function () {
                $.ajax({
                    type: "GET",
                    url: "/products/models/?js=" + $(this).val(),
                    success: function (data) {
                        $("#edit_selector_model").html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}