{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Equipment Families' %}{% endblock %}
{% block pagename %}products{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body tasecondary">
                        <form method="post" action="/products/families/">
                            <div class="row valign-wrapper">
                                <div class="input-field col s9 m10 l11">
                                    <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                           maxlength="512" required>
                                    <label for="add_name">{% trans "Name" %}</label>
                                </div>
                                <div class="col s3 m2 l1 center">
                                    <button type="submit" class="btn" name="add_family">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if families %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for family in families %}
                        <tr>
                            <td>{{ family.name }}</td>
                            <td><a style="margin-left: 20px" href="#edit_family_{{ family.id }}"
                                   class="btn modal-trigger">{% trans "Edit" %}</a></td>
                        </tr>

                        <div id="edit_family_{{ family.id }}" class="modal">
                            <div class="modal-content taprimary white-text">
                                <h4>{% trans "Family edition : " %}{{ family.name }}</h4>
                                <form method="post" action="/products/families/">
                                    {% csrf_token %}
                                    <input type="hidden" name="edit_family" value="1">
                                    <input type="hidden" name="family" value="{{ family.id }}">

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="name" name="name" minlength="2" maxlength="512" type="text"
                                                   class="validate" value="{{ family.name }}">
                                            <label for="name">{% trans "Name" %}</label>
                                        </div>
                                        <div class="input-field col s6 center">
                                            <button type="submit"
                                                    class="btn tasecondary">{% trans "Validate" %}</button>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <div class="row">
                                </div>
                            </div>
                            <div class="modal-footer tafourthiary">
                                <form method="post" action="/products/families/">
                                    {% csrf_token %}
                                    <input type="hidden" name="operation" value="delete">
                                    <button type="submit"
                                            class="left waves-effect waves-green btn-flat">{% trans "Delete" %}</button>
                                </form>
                                <a href="#!"
                                   class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="white-text">{% trans "You don't have any equipment families registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
{% endblock %}