{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Equipment Models' %}{% endblock %}
{% block pagename %}products{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body tasecondary">
                        <form method="post" action="/products/models/" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <select id="add_family" name="family" class="validate" required>
                                        <option value="" disabled selected>{% trans "Choose" %}</option>
                                        {% for family in families %}
                                            <option value="{{ family.id }}">{{ family.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="add_family">{% trans "Equipment Family" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                           maxlength="512" required>
                                    <label for="add_name">{% trans "Name" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_brand" name="brand" type="text" class="validate" minlength="2"
                                           maxlength="512" required>
                                    <label for="add_brand">{% trans "Brand" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="add_model" name="model" type="text" class="validate" minlength="2"
                                           maxlength="512" required>
                                    <label for="add_model">{% trans "Model" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_reference" name="reference" type="text" class="validate"
                                           minlength="2" maxlength="512" required>
                                    <label for="add_reference">{% trans "Reference" %}</label>
                                </div>
                                <div class="file-field input-field col s12 m6">
                                    <div class="btn">
                                        <span>{% trans "Image" %}</span>
                                        <input type="file" accept="image/png, image/jpeg" name="image">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s12 center">
                                    <button type="submit" class="btn" name="add_family">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if models %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Family' %}</th>
                        <th>{% trans 'Brand' %}</th>
                        <th>{% trans 'Model' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Reference' %}</th>
                        <th style="max-width: 10%; width: 10%">{% trans 'Picture' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for model in models %}
                        <tr>
                            <td>{{ model.family.name }}</td>
                            <td>{{ model.brand }}</td>
                            <td>{{ model.model }}</td>
                            <td>{{ model.name }}</td>
                            <td>{{ model.reference }}</td>
                            <td>
                                <a class="modal-trigger" href="#edit_picture_{{ model.id }}">
                                    <img width="100%" src="{{ model.get_picture }}" alt="">
                                </a>
                                <div id="edit_picture_{{ model.id }}" class="modal black-text">
                                    <div class="modal-content">
                                        <h4>{% trans "Edit picture of" %} {{ model.name }} :</h4>
                                        <form method="post" action="/products/models/"
                                              enctype="multipart/form-data">
                                            <input type="hidden" name="model" value="{{ model.id }}">
                                            <div class="row valign-wrapper">
                                                <div class="file-field input-field col s6 m8 l10">
                                                    <div class="btn">
                                                        <span>{% trans "Picture" %}</span>
                                                        <input type="file" accept="image/png" name="image">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text">
                                                    </div>
                                                </div>
                                                <div class="col s6 m4 l2">
                                                    <button type="submit" class="btn waves-effect waves-light"
                                                            name="edit_picture">{% trans "Validate" %}</button>
                                                    <br><br>
                                                    <button type="submit" class="btn waves-effect waves-light"
                                                            name="remove_picture">{% trans "Delete" %}</button>
                                                </div>
                                                {% csrf_token %}
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!"
                                           class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any equipment models registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
{% endblock %}