{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Badges' %}{% endblock %}
{% block pagename %}badges{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l6 m8 s12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                        <div class="collapsible-body taprimary">
                            <form method="post" action="/badges/">
                                <div class="row valign-wrapper">
                                    <div class="input-field col s12 m6">
                                        <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                               maxlength="512">
                                        <label for="add_name">{% trans "Name" %}</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id="add_rfid" name="rfid" type="text" class="validate" minlength="2"
                                               maxlength="512">
                                        <label for="add_rfid">{% trans "RFID" %}</label>
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="col s12 center">
                                        <button type="submit" class="btn" name="operation"
                                                value="add_badge">{% trans "Add" %}</button>
                                    </div>
                                </div>

                                {% csrf_token %}
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l6 m4 s12">
                <div style="text-align: center; padding: 20px" class="card tafourthiary">
                    <form method="get" action="/badges/">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div class="input-field" style="width: 100%">
                                <input id="search" name="search" type="text" class="validate" value="{{ search }}">
                                <label for="search">{% trans "Search" %}</label>
                            </div>
                            <button type="submit" class="btn" style="margin-left: 40px">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% if badges %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'RFID' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for badge in badges %}
                        <tr>
                            <td>{{ badge.name }}</td>
                            <td>{% if badge.get_user is not None %}{{ badge.get_user.get_full_name }}{% endif %}</td>
                            <td>{{ badge.rfid }}</td>
                            <td><a style="margin-left: 20px" href="#edit_badge_{{ badge.id }}"
                                   class="btn modal-trigger">{% trans "Edit" %}</a></td>
                        </tr>

                        <div id="edit_badge_{{ badge.id }}" class="modal">
                            <div class="modal-content taprimary white-text">
                                <h4>{% trans "Badge edition : " %}{{ badge.name }}</h4>
                                <form method="post" action="/badges/">
                                    {% csrf_token %}
                                    <input type="hidden" name="operation" value="rename">
                                    <input type="hidden" name="badge" value="{{ badge.id }}">

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="name" name="name" minlength="2" maxlength="512" type="text"
                                                   class="validate" value="{{ badge.name }}">
                                            <label for="name">{% trans "Name" %}</label>
                                        </div>
                                        <div class="input-field col s6 center">
                                            <button type="submit"
                                                    class="btn tasecondary">{% trans "Validate" %}</button>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <div class="row">
                                </div>
                            </div>
                            <div class="modal-footer tafourthiary">
                                <form method="post" action="/badges/">
                                    {% csrf_token %}
                                    <input type="hidden" name="operation" value="delete">
                                    <input type="hidden" name="badge" value="{{ badge.id }}">
                                    <button type="submit"
                                            class="left waves-effect waves-green btn-flat">{% trans "Delete" %}</button>
                                </form>
                                <a href="#!"
                                   class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any badges registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
{% endblock %}