{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}

{% block pagename %}login{% endblock %}

{% block title %}MyAsset - {% trans 'Log in' %}{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="row">
        <div class="col s12 m6 l4 offset-l4 offset-m3 z-depth-4 card-panel hoverable container taprimary">
            {% if form.errors %}
                <div class="row">
                    <div class="col s12 m8 offset-m2 z-depth-4 card-panel hoverable container red darken-2">
                        {% for key, value in form.errors.items %}
                            <p class="white-text">{{ value.as_text }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form method="post" action="/login/{{ next }}">
                <div class="row input-field col s12 center">
                    <img src="{% static 'img/logo.png' %}" alt=""
                         class="responsive-img valign profile-image-login"
                         width="20%">
                    <h5 class="center white-text">{% trans 'Log in' %}:</h5>
                </div>
                <div class="input-field col s12">
                    <input id="email" name="{{ form.email.html_name }}" type="email" class="validate white-text">
                    <label for="email">{% trans 'Email' %}</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" name="{{ form.password.html_name }}" type="password"
                           class="validate white-text">
                    <label for="password">{% trans 'Password' %}</label>
                </div>
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12 tasecondary">
                        {% trans 'Log in' %}
                    </button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
{% endblock %}