{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Jobs' %}{% endblock %}
{% block pagename %}jobs{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body taprimary">
                        <form method="post" action="/jobs/">
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                           maxlength="512" required>
                                    <label for="add_name">{% trans "Name" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <p>
                                        <label>
                                            <input type="checkbox" name="assign"/>
                                            <span>{% trans "Automatic assignation, the user will always be given the same hardware for a this specific job" %}</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s12 center">
                                    <button type="submit" class="btn" name="add_job">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if jobs %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Automatic Assignation' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.name }}</td>
                            <td>{% if job.assign %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                            <td><a style="margin-left: 20px" href="#edit_jobs_{{ job.id }}"
                                   class="btn modal-trigger">{% trans "Edit" %}</a></td>
                        </tr>

                        <div id="edit_jobs_{{ job.id }}" class="modal modal-fixed-footer">
                            <div class="modal-content taprimary white-text">
                                <h4>{% trans "Job edition for " %}{{ job.name }}</h4>

                                <form method="post" action="/jobs/">
                                    {% csrf_token %}
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            <input id="edit_name_{{ job.id }}" name="name" type="text" class="validate"
                                                   minlength="2" maxlength="512" value="{{ job.name }}">
                                            <label for="edit_name_{{ job.id }}">{% trans "Name" %}</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <p>
                                                <label>
                                                    <input type="checkbox" name="assign"
                                                           {% if job.assign %}checked{% endif %}/>
                                                    <span>{% trans "Automatic assignation, the user will always be given the same hardware for a this specific job" %}</span>
                                                </label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button type="submit" name="edit_job" value="1"
                                                class="btn tasecondary">{% trans "Validate" %}</button>
                                    </div>
                                </form>

                                <form method="post" action="/jobs/" id="edit_jobs_family_form_{{ job.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="edit_families" value="1">
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                    <input type="hidden" id="edit_jobs_form_famlist_{{ job.id }}" name="families"
                                           value="{% jobs_to_list job.selected_families %}">
                                </form>
                                <br>
                                <div class="row">
                                    {% for fam in families %}
                                        <p class="col s12 m6">
                                            <label>
                                                <input type="checkbox" class="filled-in edit_fam_checkbox_{{ job.id }}"
                                                       {% if fam in job.selected_families %}checked="checked"{% endif %}
                                                       value="{{ fam.id }}"/>
                                                <span>{{ fam.name }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <a class="btn tasecondary"
                                       id="edit_job_validation_{{ job.id }}">{% trans "Validate" %}</a>
                                </div>
                            </div>
                            <div class="modal-footer tafourthiary">
                                <form method="post" action="/jobs/">
                                    {% csrf_token %}
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                    <button type="submit" class="waves-effect waves-green btn-flat left"
                                            name="delete_job" value="1">{% trans "Delete" %}</button>
                                </form>
                                <a href="#!"
                                   class="modal-close waves-effect waves-green btn-flat">{% trans "Cancel" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any jobs registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let job_list = {
                {% for job in jobs %}"{{ job.id }}": {% jobs_to_list job.selected_families %}, {% endfor %}
            };

            {% for job in jobs %}
                $(".edit_fam_checkbox_{{ job.id }}").change(function () {
                    let id = parseInt($(this).val());

                    if (job_list["{{ job.id }}"].find(e => e === id))
                        job_list["{{ job.id }}"] = job_list["{{ job.id }}"].filter((value) => value !== id);
                    else
                        job_list["{{ job.id }}"].push(id);
                });

                $("#edit_job_validation_{{ job.id }}").click(function () {
                    $("#edit_jobs_form_famlist_{{ job.id }}").val(JSON.stringify(job_list["{{ job.id }}"]));
                    $("#edit_jobs_family_form_{{ job.id }}").submit();
                });
            {% endfor %}
        });
    </script>
{% endblock %}