{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Message' %}{% endblock %}
{% block pagename %}message{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <a class="btn gobackbtn"><i class="fas fa-chevron-left"></i></a>
            <h5 class="white-text">{% trans "Message for" %} {{ message.user.get_full_name }}</h5>
            <div class="divider"></div>
            <br>
            <form method="post" action="/messages/{{ message.id }}/{% if redirect %}?redirect_user=1{% endif %}">
                <div class="row valign-wrapper">
                    <div class="col s12 m6">
                        <div class="center">
                            <div class="switch">
                                <label>
                                    {% trans "One time" %}
                                    <input type="checkbox" name="recurring" id="recurring"
                                           {% if message.end %}checked{% endif %}>
                                    <span class="lever"></span>
                                    {% trans "Recurring" %}
                                </label>
                            </div>
                        </div>
                        <div class="input-field">
                            <input id="start" name="start" type="text" class="cdatepicker validate"
                                   value="{{ message.start|date:"d/m/Y" }}" required>
                            <label for="start">{% trans "Start" %}</label>
                        </div>
                        <div class="input-field">
                            <input id="end" name="end" type="text" class="cdatepicker validate"
                                   value="{% if message.end %}{{ message.end|date:"d/m/Y" }}{% endif %}"
                                   {% if message.end is None %}disabled{% endif %}>
                            <label for="end">{% trans "End" %}</label>
                        </div>
                    </div>
                    <div class="col s12 m6 center">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea rows="4" minlength="2" maxlength="1024" id="message" name="message"
                                          class="materialize-textarea white-text"
                                          required>{{ message.message }}</textarea>
                                <label for="message">{% trans "Message" %}</label>
                            </div>
                        </div>

                        <button type="submit" class="btn" name="edit_message">{% trans "Edit" %}</button>
                    </div>
                </div>

                {% csrf_token %}
            </form>
            <br>
        </div>
    </div>
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}
{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            moment.locale("{{ request.LANGUAGE_CODE }}");
            $(".cdatepicker").datepicker({
                format: "dd/mm/yyyy",
                firstDay: 1,
                showDaysInNextAndPreviousMonths: true,
                showClearBtn: true,
                i18n: {
                    weekdays: moment.weekdays(),
                    weekdaysShort: moment.weekdaysShort(),
                    weekdaysAbbrev: moment.weekdaysMin(),
                    months: moment.months(),
                    monthsShort: moment.monthsShort(),
                    firstDay: moment.localeData().firstDayOfWeek(),
                    cancel: "{% trans "Cancel" %}",
                    clear: "{% trans "Clear" %}",
                    done: "{% trans "Ok" %}"
                }
            });

            let end = $("#end");
            $("#recurring").click(function () {
                let checked = $(this).prop("checked");
                if (checked) {
                    end.prop("disabled", false);
                } else {
                    end.prop("disabled", true);
                    end.val("");
                }
            });
        });
    </script>
{% endblock %}