{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Users' %}{% endblock %}
{% block pagename %}users{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row center">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal_add_user"><i
                    class="fas fa-plus left"></i> {% trans "Add" %}</a>

            <!-- Modal Structure -->
            <div id="modal_add_user" class="modal modal-fixed-footer taprimary"
                 style="min-width: 350px;">
                <div class="modal-content">
                    {% if all_users %}
                        <div class="container"
                             style="display: flex; flex-direction: row; align-items: center;">
                            <div class="input-field" style="width: 100%">
                                <input id="search" type="text" class="validate">
                                <label for="search">{% trans "Search" %}</label>
                            </div>
                        </div>
                        <br>
                        <table class="white-text" id="user_list">
                            <thead>
                            <tr>
                                <th>{% trans 'Email' %}</th>
                                <th>{% trans 'First name' %}</th>
                                <th>{% trans 'Last name' %}</th>
                                <th>{% trans "Shift" %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in all_users %}
                                <tr>
                                    <td>{% if user.email %}{% decrypt user.email %}{% endif %}</td>
                                    <td>{% decrypt user.name %}</td>
                                    <td>{% decrypt user.surname %}</td>
                                    <td>{% if user.shift is None %}
                                        <span class="red-text">{% trans "All" %}</span>{% else %}
                                        {{ user.shift.name }}{% endif %}</td>
                                    <td>
                                        <form method="post" action="/shifts/users/?shift={{ shift.id }}">
                                            <button class="waves-effect waves-light btn tasecondary add-user"
                                                    name="add_user" type="submit" value="{{ user.id }}">
                                                <i class="fas fa-plus"></i> {% trans 'Add' %}
                                            </button>
                                            {% csrf_token %}
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="white-text">{% trans "You don't have any users !" %}</p>
                    {% endif %}
                </div>
                <div class="modal-footer tafourthiary">
                    <a href="#!"
                       class="modal-close waves-effect waves-green btn-flat">{% trans 'Close' %}</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% if users %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="sorted" data-name="id_internal_company">{% trans 'Internal company ID' %}</th>
                        <th class="sorted" data-name="name">{% trans 'First name' %}</th>
                        <th class="sorted" data-name="surname">{% trans 'Last name' %}</th>
                        <th>{% trans 'Locked' %}</th>
                        <th>{% trans 'Badges' %}</th>
                        <th>{% trans 'Last login' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="{% if user.get_badges|length == 0 %}red-text text-lighten-1{% elif user.disabled %}grey-text{% endif %}">
                            <td>{% if not user.email is None %}<i class="fas fa-user-cog"></i>{% endif %}</td>
                            <td>{{ user.id_internal_company }}</td>
                            <td>{% decrypt user.name %}</td>
                            <td>{% decrypt user.surname %}</td>
                            <td>{% if user.disabled %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                            <td>
                                {% for badge in user.get_badges %}
                                    <div class="card taprimary white-text"
                                         style="margin: 5px 0 0; padding: 5px">{{ badge.name }}</div>
                                {% endfor %}
                            </td>
                            <td>{% if user.get_last_login is None %}{% trans "Never" %}{% else %}
                                {{ user.get_last_login }}{% endif %}</td>
                            <td>
                                <a class="waves-effect waves-light btn" href="/users/{{ user.id }}/">
                                    <i class="fas fa-edit"></i> {% trans 'Edit' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any users !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort-db.js" %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let last_search = "";
            $("#search").on('input', function () {
                let newval = $(this).val();
                if (Math.abs(last_search.length - newval.length) >= 2) {
                    updateUserList(newval)
                }
            });

            function updateUserList(search) {
                last_search = search;
                let search_compo = search.split(" ");

                $("#user_list tr").each(function () {
                    let row = $(this);
                    let childs = row.children();
                    if (childs.length === 5 && childs[0].tagName === "TD") {
                        let show = search.length === 0;

                        if (!show) {
                            for (let j = 0; j < search_compo.length; j++) {
                                let e = search_compo[j].toLowerCase();
                                for (let i = 0; i < 3; i++) {
                                    let txt = childs[i].outerText;
                                    show = txt.toLowerCase().includes(e) || txt === e;
                                    if (show)
                                        break;
                                }
                                if (show)
                                    break;
                            }
                        }

                        row.css("display", show ? "table-row" : "none");
                    }
                });
            }
        });
    </script>
{% endblock %}