{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'User info' %}{% endblock %}
{% block pagename %}user_info{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container white-text">
        {% if mail_pass is not None %}
            <div class="row container center">
                <div class="col s12 m8 offset-m2 z-depth-4 card-panel hoverable container red darken-2">
                    <p class="white-text">{% trans "Temporary password :" %} <code class="red darken-4"
                                                                                   style="padding: 10px">{{ mail_pass }}</code>
                    </p>
                </div>
            </div>
        {% endif %}
        <a class="btn gobackbtn"><i class="fas fa-chevron-left"></i></a>
        <form method="post" action="/users/{{ user.id }}/">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.id }}">
            <input type="hidden" name="change_activation" value="1">
            {% if not user.disabled %}
                <input type="hidden" name="disabled" value="1">
            {% endif %}
            <h4 {% if user.disabled %}style="text-decoration-line: line-through"{% endif %}
                {% if not user.email is None %}class="red-text text-lighten-2"{% endif %}>{{ user.get_full_name }}
                <button type="submit" class="right btn">
                    {% if user.disabled %}{% trans "Activate user" %}{% else %}
                        {% trans "Deactivate user" %}{% endif %}</button>
                <a href="#user_manage" class="right btn modal-trigger"
                   style="margin-right: 20px">{% trans "Settings" %}</a>
            </h4>
        </form>
        <div id="user_manage" class="modal modal-fixed-footer">
            <div class="modal-content taprimary">
                <h4>{% trans "Settings for " %}{{ user.get_short_name }}</h4>
                <form method="post" action="/users/{{ user.id }}/">
                    {% csrf_token %}
                    <input type="hidden" name="edit_user" value="1">
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <br>
                    <div class="row valign-wrapper">
                        <div class="input-field col s7 m8">
                            <input id="add_email" name="email" type="email" class="validate"
                                   value="{% if user.email %}{% decrypt user.email %}{% endif %}">
                            <label for="add_email">{% trans "Email (only for managers)" %}</label>
                        </div>
                        <div class="col s5 m4 center">
                            <button class="btn tasecondary" type="submit" name="send_email"
                                    value="1">{% trans "Reset password" %}</button>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col s12 m8 l6 offset-m2 offset-l3">
                            <label>{% trans "Manager" %}</label>
                            <select class="browser-default" id="add_manager" name="manager">
                                <option value="0" selected>{% trans "None" %}</option>
                                {% for manager in managers %}
                                    <option {% if user.id == manager.id %}selected{% endif %}
                                            value="{{ manager.id }}">{{ manager.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row right-align">
                        <button type="submit" class="btn tasecondary">{% trans "Validate" %}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer tafourthiary">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Cancel" %}</a>
            </div>
        </div>
        <div class="divider"></div>
        <br>
        <div class="row">
            <div class="col s12 m6">
                <h5 class="valign-wrapper">{% trans "Shift :" %}<a style="margin-left: 20px" href="#edit_shift"
                                                                   class="btn modal-trigger">
                    {% if user.shift %}{{ user.shift.name }}{% else %}{% trans "All" %}{% endif %}</a></h5>

                <div id="edit_shift" class="modal modal-fixed-footer">
                    <div class="modal-content taprimary">
                        <h4>{% trans "Shift edition for " %}{{ user.get_short_name }}</h4>
                        <form method="post" action="/users/{{ user.id }}/">
                            {% csrf_token %}
                            <input type="hidden" name="edit_shift" value="1">
                            <input type="hidden" name="user" value="{{ user.id }}">
                            <br>
                            <div class="row">
                                <p class="col s6 m4 l3">
                                    <label>
                                        <input type="radio" name="shift" class="filled-in"
                                               {% if not user.shift %}checked="checked"{% endif %}
                                               value="0"/>
                                        <span>{% trans "All" %}
                                    </label>
                                </p>
                                {% for shift in shifts %}
                                    <p class="col s6 m4 l3">
                                        <label>
                                            <input type="radio" name="shift" class="filled-in"
                                                   {% if user.shift and shift.id == user.shift.id %}checked="checked"{% endif %}
                                                   value="{{ shift.id }}"/>
                                            <span>{{ shift.name }}
                                        </label>
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <button type="submit" class="btn tasecondary">{% trans "Validate" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer tafourthiary">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Cancel" %}</a>
                    </div>
                </div>

                <br>
                <h5 class="valign-wrapper">{% trans "Jobs :" %}<a style="margin-left: 20px" href="#edit_jobs"
                                                                  class="btn modal-trigger">{% trans "Edit" %}</a></h5>
                {% if ujobs %}
                    <div class="row center">
                        <div class="container">
                            {% for job in ujobs %}
                                <div class="card-panel taprimary center">
                                    {{ job.name }}
                                    ({% trans "Assignable :" %}
                                    {% if job.assign %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %})
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="card-panel taprimary">
                        {% trans 'This user has no jobs' %}
                    </div>
                {% endif %}
                <div id="edit_jobs" class="modal modal-fixed-footer">
                    <div class="modal-content taprimary">
                        <h4>{% trans "Job edition for " %}{{ user.get_short_name }}</h4>
                        <form method="post" action="/users/{{ user.id }}/" id="edit_jobs_form">
                            {% csrf_token %}
                            <input type="hidden" name="edit_jobs" value="1">
                            <input type="hidden" name="user" value="{{ user.id }}">
                            <input type="hidden" id="edit_jobs_form_joblist" name="jobs"
                                   value="{% jobs_to_list ujobs %}">
                        </form>
                        <br>
                        <div class="row">
                            {% for job in jobs %}
                                <p class="col s12 m6">
                                    <label>
                                        <input type="checkbox" class="filled-in edit_job_checkbox"
                                               {% if job.id in ujobs_ls %}checked="checked"{% endif %}
                                               value="{{ job.id }}"/>
                                        <span>{{ job.name }}
                                    ({% trans "Assignable :" %}
                                    {% if job.assign %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %})</span>
                                    </label>
                                </p>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <a class="btn tasecondary" id="edit_job_validation">{% trans "Validate" %}</a>
                        </div>
                    </div>
                    <div class="modal-footer tafourthiary">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Cancel" %}</a>
                    </div>
                </div>
                {% if assigned %}
                    <h5>{% trans "Assigned equipment :" %}</h5>
                    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center">
                        {% for kit in assigned %}
                            <div class="card-panel taprimary center"
                                 style="width: fit-content; margin-left: 5px; margin-right: 5px">
                                <div class="row center-align"
                                     style="display: flex; flex-wrap: wrap; margin-bottom: 5px; justify-content: center">
                                    {% with kit.get_products as products %}
                                        {% for product in products %}
                                            <div class="card-panel tasecondary"
                                                 style="width: fit-content; margin: 1%; max-width: {% picture_width products %}%; padding: 15px">
                                                <img src="{{ product.product_type.get_picture }}" alt="" width="100%"
                                                     style="max-width: 100px"><br>
                                                {{ product.product_type.name }}<br>
                                                <span class="grey-text">{{ product.local_id }}</span>
                                            </div>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                                <form action="/users/{{ user.id }}/" method="post" style="margin-top: 10px">
                                    {% csrf_token %}
                                    <input type="hidden" name="kit" value="{{ kit.id }}">
                                    <input type="hidden" name="kit" value="{{ user.id }}">
                                    <button type="submit" class="btn tasecondary" name="delete_assignation" value="1">
                                        <i class="fas fa-times"></i></button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col s12 m6">
                <h5>{% trans "Badges :" %}</h5>
                {% if badges %}
                    <div class="row">
                        {% for badge in badges %}
                            <div class="col s6">
                                <div class="card-panel taprimary center">
                                    <h6 style="margin-top: 5px; margin-bottom: 5px">{{ badge.name }}
                                        ({{ badge.rfid }})<br>
                                        <form action="/users/{{ user.id }}/" method="post" style="margin-top: 10px">
                                            {% csrf_token %}
                                            <input type="hidden" name="badge" value="{{ badge.id }}">
                                            <input type="hidden" name="user" value="-1">
                                            <button type="submit" class="btn tasecondary" name="delete_badge" value="1">
                                                <i class="fas fa-times"></i></button>
                                        </form>
                                    </h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-panel taprimary">
                        {% trans 'There is no badge associated to this user' %}
                    </div>
                {% endif %}
                <div class="row center">
                    <a class="waves-effect waves-light btn modal-trigger" href="#add_badge"><i
                            class="fas fa-plus"></i></a>
                </div>
                <div id="add_badge" class="modal taprimary modal-fixed-footer">
                    <div class="modal-content">
                        <h4>{% trans "Adding badge to" %} {{ user.get_full_name }}</h4>
                        <div class="row">
                            <div class="container" style="display: flex; flex-direction: row; align-items: center;">
                                <div class="input-field" style="width: 100%">
                                    <input id="search" type="text" class="validate">
                                    <label for="search">{% trans "Search" %}</label>
                                </div>
                            </div>
                            <br>
                            <table id="badge_list">
                                <thead>
                                <tr>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "RFID" %}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for badge in all_badges %}
                                    <tr>
                                        <td>{{ badge.name }}</td>
                                        <td>{{ badge.rfid }}</td>
                                        <td>
                                            {% if badge.user is not None %}
                                                <span class="red-text">
                                                {% trans "Badge affected to" %} {{ badge.get_user.get_full_name }}
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form action="/users/{{ user.id }}/" method="post"
                                                  style="margin-top: 10px">
                                                {% csrf_token %}
                                                <input type="hidden" name="badge" value="{{ badge.id }}">
                                                <input type="hidden" name="user" value="{{ user.id }}">
                                                <button type="submit" class="btn" name="add_badge"
                                                        value="1">
                                                    <i class="fas fa-plus"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer tasecondary">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                    </div>
                </div>
                <br>

                <h5 style="margin-bottom: 15px">{% trans "Equipment taken :" %}</h5>
                {% if kits %}
                    {% for kit in kits %}
                        {% for prod in kit.get_products %}
                            <div class="card-panel taprimary">
                                <div class="row" style="display: flex; margin-bottom: 0">
                                    <div style="width: fit-content">
                                        <img src="{{ prod.product_type.get_picture }}" width="130px" alt="">
                                    </div>
                                    <div style="margin-left: 20px; width: 100%">
                                        <h6 class="center">{{ prod.product_type.name }}
                                            - {{ prod.local_id }}</h6>
                                        {% if prod_ident %}
                                            <p class="grey-text">{% trans "RFID Tag :" %} {{ prod.id_tag }}</p>
                                        {% endif %}
                                        <p class="grey-text">{% trans "Brand :" %} {{ prod.product_type.brand }}</p>
                                        <p class="grey-text">{% trans "Model :" %} {{ prod.product_type.model }}</p>
                                        <p class="grey-text">{% trans "Serial number :" %} {{ prod.serial_number }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <div class="card-panel taprimary">
                        {% trans 'There is not equipment in the hands of this user' %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h5>{% trans "Messages :" %}</h5>
                <a class="waves-effect waves-light btn modal-trigger" href="#new_message">{% trans "New message" %}</a>
            </div>
        </div>
        <div id="new_message" class="modal taprimary modal-fixed-footer white-text" style="height: 100%;">
            <div class="modal-content">
                <h5>New message</h5>
                <br>
                <form method="post" action="/messages/?redirect_user={{ user.id }}">
                    <input type="hidden" name="users" value="[{{ user.id }}]" required>
                    <div class="row valign-wrapper">
                        <div class="col s12 m6">
                            <div class="center">
                                <div class="switch">
                                    <label>
                                        {% trans "One time" %}
                                        <input type="checkbox" name="recurring" id="recurring">
                                        <span class="lever"></span>
                                        {% trans "Recurring" %}
                                    </label>
                                </div>
                            </div>
                            <div class="input-field">
                                <input id="start" name="start" type="text" class="cdatepicker validate"
                                       required>
                                <label for="start">{% trans "Start" %}</label>
                            </div>
                            <div class="input-field">
                                <input id="end" name="end" type="text" class="cdatepicker validate" disabled>
                                <label for="end">{% trans "End" %}</label>
                            </div>
                        </div>
                        <div class="col s12 m6 center">
                            <div class="row">
                                <div class="input-field col s12">
                                            <textarea rows="4" minlength="2" maxlength="1024" id="message"
                                                      name="message" class="materialize-textarea white-text"
                                                      required></textarea>
                                    <label for="message">{% trans "Message" %}</label>
                                </div>
                            </div>

                            <button type="submit" class="btn" name="add_message">{% trans "Add" %}</button>
                        </div>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer tasecondary">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
            </div>
        </div>
        {% if messages %}
            <table class="white-text table-sort table-arrows" style="table-layout: auto">
                <thead>
                <tr>
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Recurring' %}</th>
                    <th>{% trans 'Start' %}</th>
                    <th>{% trans 'End' %}</th>
                    <th>{% trans 'Read' %}</th>
                    <th>{% trans 'Sender' %}</th>
                    <th style="width: 75px"></th>
                    <th style="width: 130px"></th>
                </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.user.get_full_name }}</td>
                        <td>{% if message.end %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                        <td>{{ message.start|date }}</td>
                        <td>{% if message.end %}{{ message.end|date }}{% endif %}</td>
                        <td>{% if message.read %}{{ message.read }}{% else %}
                            {% trans "No" %}{% endif %}</td>
                        <td>{{ message.creation_user.get_full_name }}</td>
                        <td class="center">
                            <a class="waves-effect waves-light btn modal-trigger"
                               href="#message_{{ message.id }}"><i class="fas fa-comment-dots"></i></a>
                        </td>
                        <td class="center">
                            {% if message.read is None or message.end is not None %}
                                <form method="post" action="/messages/?redirect_user={{ user.id }}" class="left">
                                    <input type="hidden" name="message" value="{{ message.id }}">
                                    <button type="submit" name="delete_message" value="1" class="btn"><i
                                            class="fas fa-trash-alt"></i></button>
                                    {% csrf_token %}
                                </form>
                                <a class="waves-effect waves-light btn modal-trigger right"
                                   href="/messages/{{ message.id }}/?redirect_user=1"><i class="fas fa-edit"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <div id="message_{{ message.id }}" class="modal black-text">
                        <div class="modal-content">
                            <h4>{% trans "Message content" %}</h4>
                            <p style="overflow-wrap: break-word;">{{ message.message }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                               class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="white-text">{% trans "There is no messages registered !" %}</p>
        {% endif %}
        <br>
        <div class="row">
            <h5>{% trans "Activity :" %}</h5>
            <div class="divider"></div>
            {% if logs %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'Kit' %}</th>
                        <th>{% trans 'Out' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>#{{ log.id }}</td>
                            <td>
                                <a href="/racks/kit/{{ log.kit.id }}/">
                                    <div class="card taprimary white-text" style="margin: 0; width: fit-content">
                                        <div style="margin: 4px 7px;">
                                            {% for product in log.kit.get_products %}
                                                {{ product.product_type.name }} - {{ product.local_id }}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td>{% if log.out %}{% trans "Delivery" %}{% else %}
                                {% trans "Reception" %}{% endif %}</td>
                            <td>{{ log.creation_timestamp }}</td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="white-text">{% trans "There is no logs for this user !" %}</p>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            moment.locale("{{ request.LANGUAGE_CODE }}");
            $(".cdatepicker").datepicker({
                format: "dd/mm/yyyy",
                firstDay: 1,
                showDaysInNextAndPreviousMonths: true,
                showClearBtn: true,
                i18n: {
                    weekdays: moment.weekdays(),
                    weekdaysShort: moment.weekdaysShort(),
                    weekdaysAbbrev: moment.weekdaysMin(),
                    months: moment.months(),
                    monthsShort: moment.monthsShort(),
                    firstDay: moment.localeData().firstDayOfWeek(),
                    cancel: "{% trans "Cancel" %}",
                    clear: "{% trans "Clear" %}",
                    done: "{% trans "Ok" %}"
                },
                container: 'body'
            });

            let job_list = {% jobs_to_list ujobs %};

            $(".edit_job_checkbox").change(function () {
                let id = parseInt($(this).val());

                if (job_list.find(e => e === id))
                    job_list = job_list.filter((value) => value !== id);
                else
                    job_list.push(id);
            });

            $("#edit_job_validation").click(function () {
                $("#edit_jobs_form_joblist").val(JSON.stringify(job_list));
                $("#edit_jobs_form").submit();
            });

            let last_search = "";
            $("#search").on('input', function () {
                let newval = $(this).val();
                if (Math.abs(last_search.length - newval.length) >= 2) {
                    updateBadgeList(newval)
                }
            });

            function updateBadgeList(search) {
                last_search = search;
                let search_compo = search.split(" ");

                $("#badge_list tr").each(function () {
                    let row = $(this);
                    let childs = row.children();
                    if (childs.length === 4 && childs[0].tagName === "TD") {
                        let show = search.length === 0;

                        if (!show) {
                            for (let j = 0; j < search_compo.length; j++) {
                                let e = search_compo[j].toLowerCase();
                                for (let i = 0; i < 4; i++) {
                                    let txt = childs[i].outerText;
                                    show = txt.toLowerCase().includes(e) || txt === e;
                                    if (show)
                                        break;
                                }
                                if (show)
                                    break;
                            }
                        }

                        row.css("display", show ? "table-row" : "none");
                    }
                });
            }

            let end = $("#end");
            $("#recurring").click(function () {
                let checked = $(this).prop("checked");
                if (checked) {
                    end.prop("disabled", false);
                } else {
                    end.prop("disabled", true);
                    end.val("");
                }
            });
        });
    </script>
{% endblock %}