{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Messages' %}{% endblock %}
{% block pagename %}messages{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body taprimary">
                        <form method="post" action="/messages/">
                            <div class="row valign-wrapper">
                                <div class="col s12 m6">
                                    <div class="center">
                                        <a class="waves-effect waves-light btn modal-trigger tasecondary"
                                           href="#select_users">{% trans "Select user(s)" %} <small>(<span
                                                id="selected_users">0</span> {% trans "selected" %})</small></a>
                                        <input type="hidden" name="users" id="select_user_input" minlength="3" required>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="center">
                                        <div class="switch">
                                            <label>
                                                {% trans "One time" %}
                                                <input type="checkbox" name="recurring" id="recurring">
                                                <span class="lever"></span>
                                                {% trans "Recurring" %}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <input id="start" name="start" type="text" class="cdatepicker validate"
                                               required>
                                        <label for="start">{% trans "Start" %}</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="end" name="end" type="text" class="cdatepicker validate" disabled>
                                        <label for="end">{% trans "End" %}</label>
                                    </div>
                                </div>
                                <div class="col s12 m6 center">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea rows="4" minlength="2" maxlength="1024" id="message"
                                                      name="message" class="materialize-textarea white-text"
                                                      required></textarea>
                                            <label for="message">{% trans "Message" %}</label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn" name="add_message">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
            <div id="select_users" class="modal taprimary modal-fixed-footer white-text">
                <div class="modal-content">
                    <h4>{% trans "Select users to send message" %}</h4>
                    <div class="row">
                        <div class="container" style="display: flex; flex-direction: row; align-items: center;">
                            <div class="input-field" style="width: 100%">
                                <input id="search" type="text" class="validate">
                                <label for="search">{% trans "Search" %}</label>
                            </div>
                        </div>
                        <br>
                        <table id="user_list">
                            <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Shift" %}</th>
                                <th>
                                    <label>
                                        <input type="checkbox" id="select_checkbox_master"/>
                                        <span></span>
                                    </label>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.get_full_name }}</td>
                                    <td>{% if user.shift is None %}{% trans "All" %}{% else %}
                                        {{ user.shift.name }}{% endif %}</td>
                                    <td>
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in select_checkbox"
                                                       value="{{ user.id }}"/>
                                                <span></span>
                                            </label>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer tasecondary">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                </div>
            </div>
            <br>
            <div class="row center" style="margin: 0">
                <div style="width: fit-content; display: flex; flex-direction: row; padding: 20px; margin: auto"
                     class="card tafourthiary">
                    <form method="get" action="/messages/">
                        <label>
                            <input type="checkbox" name="unread_only" {% if unread_only %}checked{% endif %}/>
                            <span class="white-text">{% trans "Unread messages only" %}</span>
                        </label>
                        <button type="submit" class="btn" style="margin-left: 40px">{% trans "Validate" %}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% if messages %}
                <table class="white-text table-sort table-arrows" style="table-layout: auto">
                    <thead>
                    <tr>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Recurring' %}</th>
                        <th>{% trans 'Start' %}</th>
                        <th>{% trans 'End' %}</th>
                        <th>{% trans 'Read' %}</th>
                        <th>{% trans 'Sender' %}</th>
                        <th style="width: 75px"></th>
                        <th style="width: 130px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.user.get_full_name }}</td>
                            <td>{% if message.end %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                            <td>{{ message.start|date }}</td>
                            <td>{% if message.end %}{{ message.end|date }}{% endif %}</td>
                            <td>{% if message.read %}{{ message.read }}{% else %}
                                {% trans "No" %}{% endif %}</td>
                            <td>{{ message.creation_user.get_full_name }}</td>
                            <td class="center">
                                <a class="waves-effect waves-light btn modal-trigger"
                                   href="#message_{{ message.id }}"><i class="fas fa-comment-dots"></i></a>
                            </td>
                            <td class="center">
                                {% if message.read is None or message.end is not None %}
                                    <form method="post" action="/messages/" class="left">
                                        <input type="hidden" name="message" value="{{ message.id }}">
                                        <button type="submit" name="delete_message" value="1" class="btn"><i
                                                class="fas fa-trash-alt"></i></button>
                                        {% csrf_token %}
                                    </form>
                                    <a class="waves-effect waves-light btn modal-trigger right"
                                       href="/messages/{{ message.id }}/"><i class="fas fa-edit"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        <div id="message_{{ message.id }}" class="modal">
                            <div class="modal-content">
                                <h4>{% trans "Message content" %}</h4>
                                <p style="overflow-wrap: break-word;">{{ message.message }}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!"
                                   class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any messages registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}
{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            moment.locale("{{ request.LANGUAGE_CODE }}");
            $(".cdatepicker").datepicker({
                format: "dd/mm/yyyy",
                firstDay: 1,
                showDaysInNextAndPreviousMonths: true,
                showClearBtn: true,
                i18n: {
                    weekdays: moment.weekdays(),
                    weekdaysShort: moment.weekdaysShort(),
                    weekdaysAbbrev: moment.weekdaysMin(),
                    months: moment.months(),
                    monthsShort: moment.monthsShort(),
                    firstDay: moment.localeData().firstDayOfWeek(),
                    cancel: "{% trans "Cancel" %}",
                    clear: "{% trans "Clear" %}",
                    done: "{% trans "Ok" %}"
                }
            });

            let last_search = "";
            $("#search").on('input', function () {
                let newval = $(this).val();
                if (Math.abs(last_search.length - newval.length) >= 2) {
                    updateUserList(newval)
                }
            });

            function updateUserList(search) {
                last_search = search;
                let search_compo = search.split(" ");

                $("#user_list tr").each(function () {
                    let row = $(this);
                    let childs = row.children();
                    if (childs.length === 3 && childs[0].tagName === "TD") {
                        let show = search.length === 0;

                        if (!show) {
                            for (let j = 0; j < search_compo.length; j++) {
                                let e = search_compo[j].toLowerCase();
                                for (let i = 0; i < 3; i++) {
                                    let txt = childs[i].outerText;
                                    show = txt.toLowerCase().includes(e) || txt === e;
                                    if (show)
                                        break;
                                }
                                if (show)
                                    break;
                            }
                        }

                        row.css("display", show ? "table-row" : "none");
                    }
                });
            }

            let selected_users = [];

            $("#select_checkbox_master").click(function () {
                let checkboxes = $(".select_checkbox");
                if ($(this).prop("checked")) {
                    checkboxes.each(function () {
                        $(this).prop("checked", true);
                        updateCheckbox($(this));
                    });
                } else {
                    checkboxes.each(function () {
                        $(this).prop("checked", false);
                        updateCheckbox($(this));
                    });
                }
            });

            $(".select_checkbox").click(function () {
                updateCheckbox($(this));
            });

            function updateCheckbox(checkbox) {
                let user = checkbox.val();
                if (checkbox.prop("checked")) {
                    if (!selected_users.includes(user)) {
                        selected_users.push(user);
                    }
                } else {
                    if (selected_users.includes(user)) {
                        selected_users = selected_users.filter(function (value, index, arr) {
                            return value !== user;
                        });
                    }
                }

                $("#select_user_input").val(JSON.stringify(selected_users));
                $("#selected_users").text(selected_users.length)
            }

            let end = $("#end");
            $("#recurring").click(function () {
                let checked = $(this).prop("checked");
                if (checked) {
                    end.prop("disabled", false);
                } else {
                    end.prop("disabled", true);
                    end.val("");
                }
            });
        });
    </script>
{% endblock %}