{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Shifts' %}{% endblock %}
{% block pagename %}shifts{% endblock %}

{% block styles_ext %}
    <style>
        .modal-content.timepicker-container {
            position: initial !important;
        }
    </style>
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                    <div class="collapsible-body taprimary">
                        <form method="post" action="/shifts/">
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                           maxlength="512" required>
                                    <label for="add_name">{% trans "Name" %}</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="add_start" name="start" type="text" class="ctimepicker" required>
                                    <label for="add_start">{% trans "Start" %}</label>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="input-field col s12 m6">
                                    <input id="add_end" name="end" type="text" class="ctimepicker" required>
                                    <label for="add_end">{% trans "End" %}</label>
                                </div>
                                <div class="col s12 m6 center">
                                    <button type="submit" class="btn" name="add_shift">{% trans "Add" %}</button>
                                </div>
                            </div>

                            {% csrf_token %}
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            {% if shifts %}
                <table class="white-text table-sort table-arrows" style="table-layout: auto">
                    <thead>
                    <tr>
                        <th style="width: 33%;">{% trans 'Name' %}</th>
                        <th style="width: 33%;">{% trans 'Start' %}</th>
                        <th style="width: 33%;">{% trans 'End' %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shift in shifts %}
                        <tr>
                            <td>{{ shift.name }}</td>
                            <td>{{ shift.start }}</td>
                            <td>{{ shift.end }}</td>
                            <td><a style="margin-left: 20px" href="#edit_shift_{{ shift.id }}"
                                   class="btn modal-trigger">{% trans "Edit" %}</a></td>
                            <td><a style="margin-left: 20px" href="/shifts/users/?shift={{ shift.id }}"
                                   class="btn modal-trigger">{% trans "Users" %}</a></td>
                        </tr>

                        <div id="edit_shift_{{ shift.id }}" class="modal modal-fixed-footer">
                            <div class="modal-content taprimary white-text" style="position: initial">
                                <h4>{% trans "Shift edition for " %}{{ shift.name }}</h4>
                                <form method="post" action="/shifts/">
                                    {% csrf_token %}
                                    <input type="hidden" name="shift" value="{{ shift.id }}">

                                    <div class="row valign-wrapper">
                                        <div class="input-field col s12 m6">
                                            <input id="edit_name_{{ shift.id }}" name="name" type="text"
                                                   class="validate" minlength="2" value="{{ shift.name }}"
                                                   maxlength="512">
                                            <label for="edit_name_{{ shift.id }}">{% trans "Name" %}</label>
                                        </div>
                                        <div class="input-field col s12 m6">
                                            <input id="edit_start_{{ shift.id }}" name="start" type="text"
                                                   class="ctimepicker" value="{{ shift.start }}">
                                            <label for="edit_start_{{ shift.id }}">{% trans "Start" %}</label>
                                        </div>
                                    </div>
                                    <div class="row valign-wrapper">
                                        <div class="input-field col s12 m6">
                                            <input id="edit_end_{{ shift.id }}" name="end" type="text"
                                                   class="ctimepicker" value="{{ shift.end }}">
                                            <label for="edit_end_{{ shift.id }}">{% trans "End" %}</label>
                                        </div>
                                        <div class="col s12 m6 center">
                                            <button type="submit" class="btn tasecondary"
                                                    name="edit_shift">{% trans "Validate" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer tafourthiary">
                                <form method="post" action="/shifts/">
                                    {% csrf_token %}
                                    <input type="hidden" name="shift" value="{{ shift.id }}">
                                    <button type="submit" class="waves-effect waves-green btn-flat left"
                                            name="delete_shift" value="1">{% trans "Delete" %}</button>
                                </form>
                                <a href="#!"
                                   class="modal-close waves-effect waves-green btn-flat">{% trans "Cancel" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="white-text">{% trans "You don't have any shifts registered !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}
{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $(".ctimepicker").timepicker({
                "i18n": {
                    cancel: "{% trans "Cancel" %}",
                    clear: "{% trans "Clear" %}",
                    done: "{% trans "Ok" %}",
                },
                twelveHour: false,
                autoClose: true
            })
        });
    </script>
{% endblock %}