{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Users' %}{% endblock %}
{% block pagename %}users{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        {% if import_errors and import_errors|length > 0 %}
            <div class="row container center">
                <div class="col s12 m8 offset-m2 z-depth-4 card-panel hoverable container red darken-2">
                    {% for error in import_errors %}
                        <p class="white-text">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col l6 m8 s12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                        <div class="collapsible-body taprimary">
                            <form method="post" action="/users/">
                                <div class="row valign-wrapper">
                                    <div class="input-field col s12 m6">
                                        <input id="add_surname" name="surname" type="text" class="validate"
                                               minlength="2"
                                               maxlength="512" required>
                                        <label for="add_surname">{% trans "Lastname" %}</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id="add_name" name="name" type="text" class="validate" minlength="2"
                                               maxlength="512" required>
                                        <label for="add_name">{% trans "Firstname" %}</label>
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="input-field col s12 m6">
                                        <input id="add_email" name="email" type="email" class="validate">
                                        <label for="add_email">{% trans "Email (only for managers)" %}</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input id="add_internal_company" name="id_internal_company" type="text"
                                               class="validate" minlength="2"
                                               maxlength="512" required>
                                        <label for="add_internal_company">{% trans "Internal company ID" %}</label>
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="col s12 m6">
                                        <label>{% trans "Manager" %}</label>
                                        <select class="browser-default" id="add_manager" name="manager" required>
                                            <option value="0" selected>{% trans "None" %}</option>
                                            {% for manager in managers %}
                                                <option {% if user.id == manager.id %}selected{% endif %}
                                                        value="{{ manager.id }}">{{ manager.get_full_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col s12 m6">
                                        <label>{% trans "Shift" %}</label>
                                        <select class="browser-default" id="add_shift" name="shift" required>
                                            <option value="0" selected>{% trans "All" %}</option>
                                            {% for shift in shifts %}
                                                <option value="{{ shift.id }}">{{ shift.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row valign-wrapper">
                                    <div class="col s12 center">
                                        <button type="submit" class="btn" name="add_user">{% trans "Add" %}</button>
                                    </div>
                                </div>

                                {% csrf_token %}
                            </form>
                        </div>
                    </li>
                </ul>
                <div style="width: fit-content; display: flex; flex-direction: row; padding: 20px"
                     class="card tafourthiary">
                    <form method="get" action="/users/">
                        <label>
                            <input type="checkbox" name="active_only" {% if active_only %}checked{% endif %}/>
                            <span class="white-text">{% trans "Active users only" %}</span>
                        </label>
                        <label style="margin-left: 40px">
                            <input type="checkbox" name="allow_delete" {% if show_delete %}checked{% endif %}/>
                            <span class="white-text">{% trans "Allow deletion" %}</span>
                        </label>
                        <button type="submit" class="btn" style="margin-left: 40px">{% trans "Validate" %}</button>
                    </form>
                </div>
            </div>
            <div class="col l6 m4 s12">
                <div style="text-align: center; padding: 20px" class="card tafourthiary">
                    <form method="get" action="/users/">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div class="input-field" style="width: 100%">
                                <input id="search" name="search" type="text" class="validate" value="{{ search }}"
                                       minlength="2">
                                <label for="search">{% trans "Search" %}</label>
                            </div>
                            <button type="submit" class="btn" style="margin-left: 40px">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
                <div class="row center">
                    <a href="#import_users" class="btn modal-trigger">{% trans "Import" %}</a>
                    <a href="#export_users" class="btn modal-trigger">{% trans "Export" %}</a>
                </div>

                <div id="import_users" class="modal">
                    <div class="modal-content">
                        <h4>{% trans "Import users" %}</h4>

                        <form method="post" action="/users/" enctype="multipart/form-data">
                            <div class="row valign-wrapper">
                                <div class="file-field input-field col s6 m8 l10">
                                    <div class="btn">
                                        <span>{% trans "Select file" %}</span>
                                        <input type="file" accept="text/csv" name="config">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate black-text" type="text">
                                    </div>
                                </div>
                                <div class="col s6 m4 l2">
                                    <button type="submit" class="btn waves-effect waves-light"
                                            name="import_users">{% trans "Import" %}</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                    </div>
                </div>

                <div id="export_users" class="modal modal-fixed-footer">
                    <div class="modal-content" style="overflow-y: hidden">
                        <h4>{% trans "Export users" %}</h4>

                        <form method="post" action="/users/" style="height: calc(100% - 70px)">
                            <div class="row" style="height: 90%; overflow-y: scroll;">
                                {% for user in all_users %}
                                    <div class="col s6 m4 l3">
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in export_box"
                                                       name="user_{{ user.id }}" checked="checked"/>
                                                <span>{{ user.get_full_name }}</span>
                                            </label>
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col s6 m8 l10">
                                    <a id="export_select_all" class="btn" href="#">{% trans "Select all" %}</a>
                                    <a id="export_deselect_all" class="btn" href="#">{% trans "Deselect all" %}</a>
                                </div>
                                <div class="col s6 m4 l2">
                                    <button type="submit" class="btn waves-effect waves-light"
                                            name="export_users">{% trans "Export" %}</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if users %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        {% if show_delete %}
                            <th></th>{% endif %}
                        <th></th>
                        <th class="sorted" data-name="id_internal_company">{% trans 'Internal company ID' %}</th>
                        <th class="sorted" data-name="name">{% trans 'First name' %}</th>
                        <th class="sorted" data-name="surname">{% trans 'Last name' %}</th>
                        <th>{% trans 'Locked' %}</th>
                        <th>{% trans 'Badges' %}</th>
                        <th>{% trans 'Shift' %}</th>
                        <th>{% trans 'Last login' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="{% if user.get_badges|length == 0 %}red-text text-lighten-1{% elif user.disabled %}grey-text{% endif %}">
                            {% if show_delete %}
                                <td>
                                    {% if user.get_kits_out is None and user.email is None %}
                                        <form method="post" action="/users/">
                                            {% csrf_token %}
                                            <input type="hidden" name="user" value="{{ user.id }}">
                                            <button type="submit" name="delete_user"
                                                    class="btn">{% trans "Delete" %}</button>
                                        </form>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{% if not user.email is None %}<i class="fas fa-user-cog"></i>{% endif %}</td>
                            <td>{{ user.id_internal_company }}</td>
                            <td>{% decrypt user.name %}</td>
                            <td>{% decrypt user.surname %}</td>
                            <td>{% if user.disabled %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                            <td>
                                {% for badge in user.get_badges %}
                                    <div class="card taprimary white-text"
                                         style="margin: 5px 0 0; padding: 5px">{{ badge.name }}</div>
                                {% endfor %}
                            </td>
                            <td>{% if user.shift is None %}{% trans "All" %}{% else %}
                                {{ user.shift.name }}{% endif %}</td>
                            <td>{% if user.get_last_login is None %}{% trans "Never" %}{% else %}
                                {{ user.get_last_login }}{% endif %}</td>
                            <td>
                                <a class="waves-effect waves-light btn" href="/users/{{ user.id }}/">
                                    <i class="fas fa-edit"></i> {% trans 'Edit' %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" with max_page=max_page page=page pages=pages %}
            {% else %}
                <p class="white-text">{% trans "You don't have any users !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block max_page %}{{ max_page }}{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/table-sort-db.js" %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let export_checkboxes = $(".export_box");

            $("#export_select_all").click(function () {
                export_checkboxes.each(function () {
                    $(this).prop("checked", true);
                });
                return false;
            });
            $("#export_deselect_all").click(function () {
                export_checkboxes.each(function () {
                    $(this).prop("checked", false);
                });
                return false;
            });
        });
    </script>
{% endblock %}