{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}

{% block pagename %}CSRF{% endblock %}

{% block title %}MyAsset - CSRF{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="row">
        <div class="col s12 m6 l4 offset-l4 offset-m3 z-depth-4 card-panel hoverable container taprimary white-text center"
             style="padding: 30px">
            <h5>{% trans "There has been an error on the access of the data, please click below to refresh the page :" %}</h5>
            <br>
            <a class="btn btn-large waves-effect waves-light tasecondary" href="" id="refresh">{% trans "Refresh" %}</a>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#refresh").href = window.location;
        });
    </script>
{% endblock %}