{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}

{% block pagename %}500{% endblock %}

{% block title %}MyAsset - 500{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="row">
        <div class="col s12 m6 l4 offset-l4 offset-m3 z-depth-4 card-panel hoverable container taprimary white-text center"
             style="padding: 30px">
            <h5>{% trans "The server has produced an error, please contact your reseller" %}</h5>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
{% endblock %}