{% extends "empty_page.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <main>
        {% block content_ext %}
        {% endblock %}
    </main>
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const name = "{% block pagename %}home{% endblock %}";
            $("#nav_" + name).addClass("active");
            $("#nav_" + name + "_mob").addClass("active");

            $(".locale-select").click(function () {
                let lang = $(this).attr("locale");
                let d = new Date();
                d.setTime(d.getTime() + 31536000000);
                let expires = "expires=" + d.toUTCString();
                document.cookie = "lang=" + lang + ";" + expires + ";path=/";
                window.location.reload(true);
            });

            let startTimestamp = {% now "U" %}000;
            let datetime = new Date(startTimestamp);

            setTimeout(function () {
                updateDate(false);
                setInterval(function () {
                    updateDate(true);
                }, 60000);
            }, (61 - datetime.getSeconds()) * 1000);

            function updateDate(fullmin) {
                datetime = new Date(datetime.getTime() + (fullmin ? 60000 : (61 - datetime.getSeconds()) * 1000));
                let hour = (datetime.getHours() < 10 ? "0" : "") + datetime.getHours();
                let min = (datetime.getMinutes() < 10 ? "0" : "") + datetime.getMinutes();
                $("#servertime").text(hour + ":" + min);
            }
        });
    </script>
{% endblock %}