{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - Logs Clean{% endblock %}
{% block pagename %}logs_clean{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        {% if user.ihm_password is not None %}
            <div class="row">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-plus"></i>{% trans "Add" %}</div>
                        <div class="collapsible-body tasecondary">
                            <form method="post" action="/docs/" enctype="multipart/form-data">
                                <div class="row valign-wrapper">
                                    <div class="file-field input-field col s12 m6">
                                        <div class="btn">
                                            <span>{% trans "Document" %}</span>
                                            <input type="file" accept="application/pdf" name="document">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                    <div class="col s12 m6 center">
                                        <button type="submit" class="btn" name="add_document">{% trans "Add" %}</button>
                                    </div>
                                </div>

                                {% csrf_token %}
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="row">
            {% if files %}
                {% for file in files %}
                    <div class="col s4 m3 l2 center">
                        <a href="{% static "docs" %}/{{ file }}" target="_blank">
                            <div class=" card-panel taprimary center">
                                <img src="{% static "img/file-pdf-solid.svg" %}" alt="" width="80%"><br><br>
                                <span class="white-text" style="word-break: break-all">{{ file }}</span>
                                {% if user.ihm_password is not None %}
                                    <br>
                                    <br>
                                    <form method="post" action="/docs/">
                                        <button type="submit" name="remove_document" value="{{ file }}"
                                                class="btn red">{% trans "Delete" %}</button>
                                        {% csrf_token %}
                                    </form>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="white-text">{% trans "No documentation available !" %}</p>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}

{% block scripts_ext %}
{% endblock %}