{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <title>{% block title %}MyAsset{% endblock %}</title>

    <link type="text/css" href="{% static "css/materialize.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/fontawesome.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/flags.min.css" %}" rel="stylesheet">
    <style>
        .taprimary {
            background: #34332b !important;
        }

        .tasecondary {
            background: #4e4a3d !important;
        }

        .tatertiary {
            background: #534e45 !important;
        }

        .tafourthiary {
            background: #858170 !important;
        }

        .btn, .btn-large, .btn-small {
            background: #34332b;
        }

        .btn:hover, .btn-large:hover, .btn-small:hover {
            background: #858170;
        }

        .btn:active, .btn-large:active, .btn-small:active,
        .btn:focus, .btn-large:focus, .btn-small:focus {
            background: #6b6657;
        }

        input {
            color: white;
        }

        input:focus {
            border-bottom: 1px solid #1c1b18 !important;
            box-shadow: 0 1px 0 0 #1c1b18 !important;
        }

        input:focus + label {
            color: #1c1b18 !important;
        }

        .stack-button a {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        table {
            table-layout: auto;
        }

        .nav-container {
            margin: 0 auto;
            max-width: 1280px;
            width: 90%;
        }

        .logo-nav {
            position: absolute;
            left: 5px;
            top: 3%;
            display: none;
        }

        .logo-nav-mob {
            margin-top: 4px !important;
        }

        @media only screen and (min-width: 601px) {
            .nav-container {
                width: 80%;
            }
        }

        @media only screen and (min-width: 993px) {
            .nav-container {
                width: 90%;
            }
        }

        @media only screen and (min-width: 1200px) {
            .nav-container {
                width: 80%;
            }

            .logo-nav {
                display: block;
            }

            .logo-nav-mob {
                display: none;
            }
        }
    </style>
    {% block styles %}{% endblock %}
    {% block styles_ext %}{% endblock %}
</head>

<body class="tatertiary">
{% block content %}{% endblock %}
</body>

<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
{% block scripts %}{% endblock %}
{% block scripts_ext %}{% endblock %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        M.AutoInit();

        const reg = /[?&]page=.[0-9]*/;
        $(".go_to_page").click(function (e) {
            let pg = $(this).data("page");
            if (pg > 0 && pg <= {% block max_page %}1{% endblock %}) {
                let search = window.location.search;
                search = search.replace(reg, "");
                if (search.length === 0)
                    search = "?";
                else
                    search += "&";
                search += "page=" + pg;
                window.location.search = search;
            }
            e.preventDefault();
        });

        $(".gobackbtn").click(function () {
            let value = {% if back %}"{{ back }}"{% else %}null{% endif %};
            if (value !== null)
                window.location.pathname = value;
            else
                window.history.back();
        });
    })
</script>

</html>