{% load i18n %}
{% load static %}
<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
</style>

<footer class="page-footer tasecondary">
    <div class="footer-copyright taprimary">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                © {% now "Y" %} Tailor-Advice | v2.0.0
                {% if user.is_authenticated %}
                    <br><a href="/logs/request/forensic/">Request Forensic Log</a>
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}
                    <a href="/docs/">{% trans "Documentation" %}</a><br>
                    {% if user.ihm_password is not None %}
                        <a href="/logs/clean/">Clean Logs</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</footer>