{% load static %}
{% load i18n %}
{% load custom %}
{% battery_system as BATT_SYSTEM %}
{% incidents_remaining as INCID_REM %}
{% company_name as COMP_NAME %}

<div class="taprimary">
    <div class="container white-text" style="margin-top: 4px; margin-bottom: 4px">
        {% if COMP_NAME %}
            <span>{{ COMP_NAME }}</span>
        {% endif %}
        {% if user and user.is_authenticated %}
            {% if COMP_NAME %}
                <span> | </span>
            {% endif %}
            <span>{% trans "Logged as" %} {{ request.user.get_full_name }}</span>
        {% endif %}
        <div class="right">
            <span id="servertime">{% now "H:i" %}</span>
        </div>
    </div>
</div>

{% if user.is_authenticated and user.ihm_password is not None %}
    <div id="edit_company_logo" class="modal tafourthiary">
        <div class="modal-content">
            <h4>{% trans "Edit company logo" %}</h4>
            <form method="post" action="/edit_company_logo/?redirect={{ request.path }}" enctype="multipart/form-data">
                <div class="row valign-wrapper">
                    <div class="file-field input-field col s6 m12">
                        <div class="btn">
                            <span>{% trans "Logo" %}</span>
                            <input type="file" accept="image/png" name="logo">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="input-field col s6 m12">
                        <input id="company_name" value="{{ COMP_NAME }}" type="text" class="validate" name="name"
                               maxlength="40">
                        <label for="company_name">{% trans "Name" %}</label>
                    </div>
                    <br>
                    <div class="col s6 m4 l2">
                        <button type="submit" class="btn waves-effect waves-light"
                                name="edit_logo">{% trans "Validate" %}</button>
                    </div>
                    {% csrf_token %}
                </div>
            </form>
        </div>
        <div class="modal-footer tatertiary">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Fermer</a>
        </div>
    </div>
{% endif %}

<nav class="tasecondary">
    <div class="nav-wrapper">
        <div class="nav-container">
            {% if user.is_authenticated and user.ihm_password is not None %}
                <a class="modal-trigger" href="#edit_company_logo">
                    <img src="{% static "img/company.png" %}" height="94%" alt="" class="logo-nav"/>
                </a>
            {% else %}
                <img src="{% static "img/company.png" %}" height="94%" alt="" class="logo-nav">
            {% endif %}
            <a href="#" data-target="mobile-navbar" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <img src="{% static "img/company.png" %}" height="94%" alt="" class="sidenav-trigger logo-nav-mob">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li id="nav_home"><a href="/">{% trans 'Home' %}</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="usersDropdown">{% trans "Users" %}<i
                            class="fas fa-caret-down right"></i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="productsDropdown">{% trans "Equipments" %}
                        {% if INCID_REM > 0 %}
                            <span class="new badge red" data-badge-caption="">{{ INCID_REM }}</span>{% endif %}<i
                                class="fas fa-caret-down right"></i></a></li>
                    <li id="nav_racks"><a href="/racks">{% trans 'Racks' %}</a></li>
                    <li id="nav_stats"><a href="/stats">{% trans 'Stats' %}</a></li>
                    <li id="nav_logs"><a href="/logs">{% trans 'Logs' %}</a></li>
                {% endif %}
            </ul>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="/logout">{% trans "Log out" %}</a></li>
                {% else %}
                    <li><a id="nav_login" href="/login">{% trans "Log in" %}</a></li>
                {% endif %}
                <li><a class="dropdown-trigger" href="#!" data-target="langDropdown">{% trans "Language" %}<i
                        class="fas fa-caret-down right"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
{% get_current_language as LANGUAGE_CODE %}
<ul id="langDropdown" class="dropdown-content">
    {% if LANGUAGE_CODE != "en" %}
        <li><a href="#!" class="locale-select" locale="en"><span class="flag-icon flag-icon-gb"></span> English</a></li>
    {% endif %}
    {% if LANGUAGE_CODE != "fr" %}
        <li><a href="#!" class="locale-select" locale="fr"><span class="flag-icon flag-icon-fr"></span> Français</a>
        </li>
    {% endif %}
</ul>
<ul id="usersDropdown" class="dropdown-content">
    <li><a href="/users/">{% trans "Users" %}</a></li>
    <li><a href="/jobs/">{% trans "Jobs" %}</a></li>
    <li><a href="/shifts/">{% trans "Shifts" %}</a></li>
    <li><a href="/badges/">{% trans "Badges" %}</a></li>
    <li><a href="/messages/">{% trans "Messages" %}</a></li>
</ul>
<ul id="productsDropdown" class="dropdown-content">
    <li><a href="/products/">{% trans "Equipments" %}</a></li>
    <li><a href="/products/families/">{% trans "Equipment Families" %}</a></li>
    <li><a href="/products/models/">{% trans "Equipment Models" %}</a></li>
    {% if BATT_SYSTEM %}
        <li><a href="/products/batteries/">{% trans "Batteries" %}</a></li>
        <li><a href="/products/batteries/models/">{% trans "Battery Models" %}</a></li>
    {% endif %}
    <li><a href="/products/incidents/">{% trans "Incidents" %} {% if INCID_REM > 0 %}
        <span class="new badge red" data-badge-caption="">{{ INCID_REM }}</span>{% endif %}</a></li>
</ul>

<ul class="sidenav" id="mobile-navbar">
    {% if user.is_authenticated %}
        <li id="nav_home_mob"><a href="/">{% trans 'Home' %}</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="usersDropdownMob">{% trans "Users" %}<i
                class="fas fa-caret-down right"></i></a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="productsDropdownMob">{% trans "Equipments" %}
            {% if INCID_REM > 0 %}<span class="new badge red" data-badge-caption="">{{ INCID_REM }}</span>{% endif %}<i
                    class="fas fa-caret-down right"></i></a></li>
        <li id="nav_mob_racks"><a href="/racks">{% trans 'Racks' %}</a></li>
        <li id="nav_mob_stats"><a href="/stats">{% trans 'Stats' %}</a></li>
        <li id="nav_mob_logs"><a href="/logs">{% trans 'Logs' %}</a></li>
        <li><a href="/logout">{% trans "Log out" %}</a></li>
    {% else %}
        <li><a id="nav_login_mob" href="/login">{% trans "Log in" %}</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="langDropdownMob">{% trans "Language" %}<i
                class="fas fa-caret-down right"></i></a></li>
    {% endif %}
</ul>
<ul id="langDropdownMob" class="dropdown-content">
    {% if LANGUAGE_CODE != "en" %}
        <li><a href="#!" class="locale-select" locale="en"><span class="flag-icon flag-icon-gb"></span> English</a></li>
    {% endif %}
    {% if LANGUAGE_CODE != "fr" %}
        <li><a href="#!" class="locale-select" locale="fr"><span class="flag-icon flag-icon-fr"></span> Français</a>
        </li>
    {% endif %}
</ul>
<ul id="usersDropdownMob" class="dropdown-content">
    <li><a href="/users/">{% trans "Users" %}</a></li>
    <li><a href="/jobs/">{% trans "Jobs" %}</a></li>
    <li><a href="/shifts/">{% trans "Shifts" %}</a></li>
    <li><a href="/badges/">{% trans "Badges" %}</a></li>
    <li><a href="/messages/">{% trans "Messages" %}</a></li>
</ul>
<ul id="productsDropdownMob" class="dropdown-content">
    <li><a href="/products/">{% trans "Equipments" %}</a></li>
    <li><a href="/products/families/">{% trans "Equipment Families" %}</a></li>
    <li><a href="/products/models/">{% trans "Equipment Models" %}</a></li>
    {% if BATT_SYSTEM %}
        <li><a href="/products/batteries/">{% trans "Batteries" %}</a></li>
        <li><a href="/products/batteries/models/">{% trans "Battery Models" %}</a></li>
    {% endif %}
    <li><a href="/products/incidents/">{% trans "Incidents" %} {% if INCID_REM > 0 %}
        <span class="new badge red" data-badge-caption="">{{ INCID_REM }}</span>{% endif %}</a></li>
</ul>
