{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}

{% block title %}MyAsset - {% trans 'Home' %}{% endblock %}
{% block pagename %}home{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    {% if messages and messages|length > 0 %}
        <div class="container">
            {% for message in messages %}
                <div class="row container">
                    <div class="col s12 m8 offset-m2 z-depth-4 card-panel hoverable container red darken-2">
                        <p class="white-text">
                            {{ message.message|safe }}
                        </p>
                        {% if message.end is None and message.read is None %}
                            <form action="/" method="post">
                                {% csrf_token %}
                                <input name="message" value="{{ message.id }}" type="hidden">
                                <div class="right" style="margin-bottom: 10px">
                                    <button type="submit" class="btn" name="mark_read" value="1"><i
                                            class="fas fa-check"></i></button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col s12 m6">
            <canvas id="chart_users" width="100%"></canvas>
        </div>
        <div class="col s12 m6">
            <canvas id="chart_product_fields" width="100%"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <canvas id="chart_product_usage" width="100%"></canvas>
        </div>
        <div class="col s12 m6">
            <canvas id="chart_family_usage" width="100%"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/charts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/md5.js" %}"></script>
    <script>
        function getScales(yname, max = 10) {
            return {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(255,255,255,0.14)",
                        zeroLineColor: "#c1c1c1",
                    },
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: yname,
                        fontColor: "#FFFFFF",
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: max,
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(255,255,255,0.14)",
                        zeroLineColor: "#c1c1c1",
                    },
                }]
            };
        }

        function getColor(i) {
            let palette = [
                "#4472C4",
                "#ED7D31",
                "#A5A5A5",
                "#FFC000",
                "#5B9BD5",
                "#70AD47",
                "#0563C1",
                "#954F72"
            ]
            return palette[i % palette.length];
        }


        document.addEventListener("DOMContentLoaded", function () {
            Chart.defaults.global.defaultFontColor = '#FFFFFF';
            Chart.defaults.global.defaultFontSize = 12;

            // USERS
            let chart_user_elem = document.getElementById("chart_users");
            let chart_user_data = {
                labels: {{ graph_user.labels | safe }},
                datasets: [{
                    label: "{% trans "Users per day" %}",
                    data: {{ graph_user.data | safe }},
                    borderColor: getColor(4),
                    backgroundColor: getColor(4),
                    color: "#FFFFFF",
                }]
            };
            let chart_user_config = {
                type: "bar",
                data: chart_user_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return value + " {% trans "user(s)" %}";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "User count" %}"),
                }
            }
            let chart_user = new Chart(chart_user_elem.getContext("2d"), chart_user_config);

            // PRODUCT FIELD
            let chart_product_field_labels = {{ graph_product_field.labels | safe }};
            let chart_product_field_colors = Array.from({length: chart_product_field_labels.length}, (_, i) => getColor(i + 2));
            let chart_product_field_elem = document.getElementById("chart_product_fields");
            let chart_product_field_data = {
                labels: chart_product_field_labels,
                datasets: [{
                    data: {{ graph_product_field.data | safe }},
                    backgroundColor: chart_product_field_colors,
                }]
            };
            let chart_product_field_config = {
                type: "pie",
                data: chart_product_field_data,
                options: {
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let index = tooltipItems.index;
                                let value = data.datasets[0].data[index];
                                return chart_product_field_labels[index] + " : " + value + "%";
                            }
                        }
                    },
                }
            }
            let chart_product_field = new Chart(chart_product_field_elem.getContext("2d"), chart_product_field_config);

            // PRODUCT USAGE
            let chart_product_usage_elem = document.getElementById("chart_product_usage");
            let chart_product_usage_data = {
                labels: {{ graph_product_usage.labels | safe }},
                datasets: [{
                    label: "{% trans "Equipment used" %}",
                    data: {{ graph_product_usage.data | safe }},
                    borderColor: getColor(7),
                    backgroundColor: getColor(7),
                    color: "#FFFFFF",
                }]
            };
            let chart_product_usage_config = {
                type: "bar",
                data: chart_product_usage_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return value + " {% trans "% used" %}";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "Percentage of usage" %}", 100),
                }
            }
            let chart_product_usage = new Chart(chart_product_usage_elem.getContext("2d"), chart_product_usage_config);

            // FAMILY USAGE
            let labels = {{ graph_family_usage.labels | safe }};
            let chart_family_usage_colors = Array.from({length: labels.length}, (_, i) => getColor(i));
            let chart_family_usage_elem = document.getElementById("chart_family_usage");
            let chart_family_usage_data = {
                labels: labels,
                datasets: [{
                    data: {{ graph_family_usage.data }},
                    backgroundColor: chart_family_usage_colors,
                }],
            };

            function formatTime(val) {
                if (val < 14400)
                    return Math.round(val / 60) + " {% trans "minute(s)" %}";
                return Math.round(val / 3600) + " {% trans "hour(s)" %}";
            }

            let chart_family_usage_config = {
                type: "pie",
                data: chart_family_usage_data,
                options: {
                    plugins: {
                        labels: {
                            render: function (obj) {
                                return formatTime(obj.value)
                            }
                        },
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let index = tooltipItems.index;
                                let value = data.datasets[0].data[index];
                                return "{% trans "Average usage in equipment family" %} : " + formatTime(value);
                            }
                        }
                    },
                }
            }
            let chart_family_usage = new Chart(chart_family_usage_elem.getContext("2d"), chart_family_usage_config);
        });
    </script>
{% endblock %}