{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - {% trans 'Logs' %}{% endblock %}
{% block pagename %}logs{% endblock %}

{% block styles_ext %}
    <link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container">
        <div class="row card taprimary" style="padding: 10px 10px 0;">
            <form method="get" action="/logs/">
                <input type="hidden" id="start" name="start" value="{{ start|date:"Y-m-d" }}">
                <input type="hidden" id="end" name="end" value="{{ end|date:"Y-m-d" }}">
                <div class="col s6 m5 l4 input-field">
                    <label for="date_range">{% trans "Date range" %}</label>
                    <input type="text" id="date_range" placeholder=" "
                           value="{% cdate start %} - {% cdate end %}">
                </div>
                <div class="col s6 m3 l3 input-field center">
                    <p>
                        <label>
                            <input type="checkbox" name="unfinished" value="1"
                                   {% if "unfinished" in args %}checked{% endif %}/>
                            <span>{% trans "Equipment out" %}</span>
                        </label>
                    </p>
                </div>
                <div class="col s6 m4 l3 input-field">
                    <select id="sel_shift" name="shift">
                        <option value="0"
                                {% if "shift" not in args or sel_shift == 0 %}selected{% endif %}>{% trans "All" %}</option>
                        {% for shift in shifts %}
                            <option value="{{ shift.id }}"
                                    {% if "shift" in args and sel_shift == shift.id %}selected{% endif %}>{{ shift.name }}</option>
                        {% endfor %}
                    </select>
                    <label>{% trans "Shift" %}</label>
                </div>
                <div class="col s6 m6 offset-m3 l2 input-field center">
                    <button type="submit" class="btn tasecondary">{% trans "Filter" %}</button>
                </div>
            </form>
        </div>
        <div class="row">
            {% if logs %}
                <table class="white-text table-sort table-arrows">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Kit' %}</th>
                        <th>{% trans 'Out' %}</th>
                        <th>{% trans 'Time' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>#{{ log.id }}</td>
                            <td><a href="/users/{{ log.user.id }}/" class="white-text"
                                   style="text-decoration: underline">{{ log.user.get_full_name }}</a></td>
                            <td>
                                <a href="/racks/kit/{{ log.kit.id }}/">
                                    <div class="card taprimary white-text" style="margin: 0; width: fit-content">
                                        <div style="margin: 4px 7px;">
                                            {% for product in log.kit.get_products %}
                                                {{ product.product_type.name }} - {{ product.local_id }}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td>{% if log.out %}{% trans "Delivery" %}{% else %}
                                {% trans "Reception" %}{% endif %}</td>
                            <td>{{ log.creation_timestamp }}</td>
                            <td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row center">
                    <ul class="pagination">
                        <li class="{% if page == 1 %}disabled{% else %}waves-effect{% endif %}">
                            <a class="go_to_page" href="#" data-page="{{ page|add:-1 }}">
                                <i class="{% if page == 1 %}grey-text text-darken-3{% else %}white-text{% endif %} fas fa-chevron-left"></i>
                            </a>
                        </li>
                        {% for pg in pages %}
                            <li class="{% if pg == page %}active{% endif %}">
                                <a class="white-text go_to_page" href="#" data-page="{{ pg }}">{{ pg }}</a>
                            </li>
                        {% endfor %}
                        <li class="{% if page == max_page %}disabled{% else %}waves-effect{% endif %}">
                            <a class="go_to_page" href="#" data-page="{{ page|add:1 }}">
                                <i class="{% if page == max_page %}grey-text text-darken-3{% else %}white-text{% endif %} fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <p class="white-text">{% trans "You don't have any logs matching your request !" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/table-sort.js" %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            moment.locale("{{ request.LANGUAGE_CODE }}");
            let max_page = {{ max_page }};
            $("#date_range").daterangepicker({
                locale: {
                    direction: 'ltr',
                    format: moment.localeData().longDateFormat('L'),
                    separator: ' - ',
                    applyLabel: '{% trans "Validate" %}',
                    cancelLabel: '{% trans "Cancel" %}',
                    weekLabel: 'W',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: moment.weekdaysMin(),
                    monthNames: moment.monthsShort(),
                    firstDay: moment.localeData().firstDayOfWeek()
                }
            }, function (start, end, label) {
                $("#start").val(start.format('YYYY-MM-DD'));
                $("#end").val(end.format('YYYY-MM-DD'));
            });
        });
    </script>
{% endblock %}