{% extends "basic_page.html" %}
{% load static %}
{% load i18n %}
{% load custom %}

{% block title %}MyAsset - Logs Clean{% endblock %}
{% block pagename %}logs_clean{% endblock %}

{% block styles_ext %}
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="container white-text">
        <form action="/logs/clean/" method="post">
            <div class="row">
                {% for dt in data %}
                    <div class="col s12 m6">
                        <h5>{{ dt.name }}</h5>
                        <p>
                            {{ dt.description }}<br>
                            <u>Total lines count :</u> {{ dt.count }}<br>
                            <u>Total size :</u> {{ dt.size }}<br>
                        </p>
                        <p>
                            <label>
                                <input name="{{ dt.short_name }}" value="none" type="radio" checked/>
                                <span>Delete nothing</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="{{ dt.short_name }}" value="3months" type="radio"/>
                                <span>Delete 3 month old and up ({{ dt.threemonth }} line(s))</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="{{ dt.short_name }}" value="6months" type="radio"/>
                                <span>Delete 6 month old and up ({{ dt.sixmonth }} line(s))</span>
                            </label>
                        </p>
                        <br>
                    </div>
                {% endfor %}
            </div>
            <div class="row center">
                <button type="submit" class="btn" name="delete_logs" value="1">Remove selected</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <br>
    <br>
{% endblock %}

{% block scripts_ext %}
{% endblock %}