<div class="row center">
    <ul class="pagination">
        <li class="{% if page == 1 %}disabled{% else %}waves-effect{% endif %}">
            <a class="go_to_page" href="#" data-page="{{ page|add:-1 }}">
                <i class="{% if page == 1 %}grey-text text-darken-3{% else %}white-text{% endif %} fas fa-chevron-left"></i>
            </a>
        </li>
        {% for pg in pages %}
            {% if pg == "..." %}
                <li class="white-text" style="vertical-align: sub">...</li>
            {% else %}
                <li class="{% if pg == page %}active{% endif %}">
                    <a class="white-text go_to_page" href="#" data-page="{{ pg }}">{{ pg }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="{% if page == max_page %}disabled{% else %}waves-effect{% endif %}">
            <a class="go_to_page" href="#" data-page="{{ page|add:1 }}">
                <i class="{% if page == max_page %}grey-text text-darken-3{% else %}white-text{% endif %} fas fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>