{% extends "basic_page.html" %}
{% load custom %}
{% load static %}
{% load i18n %}

{% block title %}MyAsset - {% trans 'Stats' %}{% endblock %}
{% block pagename %}stats{% endblock %}

{% block styles_ext %}
    <link rel="stylesheet" href="{% static "css/daterangepicker.css" %}">
    <style>
        @media only screen and (min-width: 2000px) {
            .row .col.xxl4 {
                width: 33.33333333%;
            }

            .row .col.xxl6 {
                width: 50%;
            }

            .container-no-large {
                width: 100%;
                max-width: none;
            }

            .hide-on-xxl {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block content_ext %}
    <br>
    <br>
    <div class="row" style="margin-left: 5%; margin-right: 5%">
        <div class="row center">
            <div class="col s12 m6 l4 offset-m3 offset-l4 input-field">
                <label for="date_range">{% trans "Date range" %}</label>
                <input type="text" id="date_range" value="{% cdate start %} - {% cdate end %}">
                <input type="hidden" id="start" name="start" value="{{ start|date:"Y-m-d" }}">
                <input type="hidden" id="end" name="end" value="{{ end|date:"Y-m-d" }}">
            </div>
        </div>
        <div class="row white-text">
            <h4>{% trans "Daily statistics for" %}
                {% if start|date == end|date %}{{ start|date }}{% else %}{{ start|date }} {% trans "to" %}
                    {{ end|date }}{% endif %}</h4>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 center">
                <canvas id="chart_daily_activity" width="100%"></canvas>
                <br>
                <button class="btn" id="dl_daily_activity">{% trans "Download as TSV" %}</button>
            </div>
            <div class="col s12 m12 l6 center">
                <canvas id="chart_family_usage" width="100%"></canvas>
                <br>
                <button class="btn" id="dl_family_usage">{% trans "Download as TSV" %}</button>
            </div>
        </div>
        <br>
        <div class="divider"></div>
        <br>
        <div class="row container container-no-large">
            <div class="col s12 m12 l12 xl12 xxl6 center">
                <canvas id="chart_rack_usage" width="100%"></canvas>
                <br>
                <button class="btn" id="dl_rack_usage">{% trans "Download as TSV" %}</button>
                <div class="row hide-on-xxl">
                    <br>
                    <div class="divider"></div>
                    <br>
                </div>
            </div>
            <div class="col s12 m12 l12 xl12 xxl6 center">
                <canvas id="chart_rack_aff_usage" width="100%"></canvas>
                <br>
                <button class="btn" id="dl_rack_aff_usage">{% trans "Download as TSV" %}</button>
            </div>
        </div>
        <br>
        <div class="row">
            {% for rack, data in stats.cases_usage.items %}
                <div class="col s12 m6 l6 xl6 xxl4 center" style="border: 1px white solid">
                    <h5 class="white-text">{% trans "Rack" %} {{ rack }}</h5>
                    <canvas id="chart_cases_usage_{{ rack }}" width="100%"></canvas>
                    <br>
                    <button class="btn" id="dl_cases_usage_{{ rack }}">{% trans "Download as TSV" %}</button>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            <div class="col s12 m12 l12 xl12 xxl6 center">
                <canvas id="chart_incident_activity" width="100%"></canvas>
                <br>
                <button class="btn" id="dl_incident_activity">{% trans "Download as TSV" %}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_ext %}
    <script type="text/javascript" src="{% static "js/charts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/md5.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
    <script>
        function getScales(yname, max = 10, scaleXMinRotation = 0, scaleXMaxRotation = 90) {
            return {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false,
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(255,255,255,0.14)",
                        zeroLineColor: "#c1c1c1",
                    },
                    ticks: {
                        maxRotation: scaleXMaxRotation,
                        minRotation: scaleXMinRotation,
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: yname,
                        fontColor: "#FFFFFF",
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: max,
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(255,255,255,0.14)",
                        zeroLineColor: "#c1c1c1",
                    },
                }]
            };
        }

        function getColor(i) {
            let palette = [
                "#4472C4",
                "#ED7D31",
                "#A5A5A5",
                "#FFC000",
                "#5B9BD5",
                "#70AD47",
                "#0563C1",
                "#954F72"
            ]
            return palette[i % palette.length];
        }

        function getFollowingColor(i) {
            let palette = [
                "#4472C4",
                "#5B9BD5",
                "#ED7D31",
                "#FFC000",
                "#8d8282",
                "#e7dada",
                "#58972b",
                "#9fea6d",
                "#954F72",
                "#e570a9"
            ]
            return palette[i % palette.length];
        }

        function downloadTSV(filename, data) {
            let element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }


        document.addEventListener("DOMContentLoaded", function () {
            moment.locale("{{ request.LANGUAGE_CODE }}");
            $("#date_range").daterangepicker({
                locale: {
                    direction: 'ltr',
                    format: moment.localeData().longDateFormat('L'),
                    separator: ' - ',
                    applyLabel: '{% trans "Validate" %}',
                    cancelLabel: '{% trans "Cancel" %}',
                    weekLabel: 'W',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: moment.weekdaysMin(),
                    monthNames: moment.monthsShort(),
                    firstDay: moment.localeData().firstDayOfWeek()
                }
            }, function (start, end, label) {
                window.location.search = "?start=" + start.format('YYYY-MM-DD') + "&end=" + end.format('YYYY-MM-DD');
            });

            Chart.defaults.global.defaultFontColor = '#FFFFFF';
            Chart.defaults.global.defaultFontSize = 12;

            // DAILY USERS
            let chart_daily_activity_elem = document.getElementById("chart_daily_activity");
            let chart_daily_activity_data = {
                labels: {{ stats.daily_activity.labels | safe }},
                datasets: [{
                    label: "{% trans "Users per day" %}",
                    data: {{ stats.daily_activity.data | safe }},
                    borderColor: getColor(2),
                    backgroundColor: getColor(2),
                    color: "#FFFFFF",
                }]
            };
            let chart_daily_activity_config = {
                type: "bar",
                data: chart_daily_activity_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return value + " {% trans "user(s)" %}";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "User count" %}"),
                }
            }
            let chart_daily_activity = new Chart(chart_daily_activity_elem.getContext("2d"), chart_daily_activity_config);
            let daily_activity_tsv = "";
            for (let i = 0; i < chart_daily_activity_data.labels.length; i++) {
                let label = chart_daily_activity_data.labels[i];
                let data = chart_daily_activity_data.datasets[0].data[i];
                daily_activity_tsv += label + "\t" + data + "\n";
            }
            $("#dl_daily_activity").click(function () {
                downloadTSV("daily_activity.tsv", daily_activity_tsv);
            });

            // FAMILY USAGE
            let chart_family_usage_elem = document.getElementById("chart_family_usage");
            let chart_family_usage_data = {
                labels: {{ stats.family_usage.labels | safe }},
                datasets: [
                    {% for family, data in stats.family_usage.data.items %}
                        {
                            label: "{{ family }}",
                            data: {{ data | safe }},
                            borderColor: getColor({{ forloop.counter0 }}),
                            backgroundColor: getColor({{ forloop.counter0 }}),
                            color: "#FFFFFF",
                        },
                    {% endfor %}
                ]
            };
            let chart_family_usage_config = {
                type: "bar",
                data: chart_family_usage_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return value + " %";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "Percentage of family usage" %}", 100),
                }
            }
            let chart_family_usage = new Chart(chart_family_usage_elem.getContext("2d"), chart_family_usage_config);
            let family_usage_tsv = "{% trans "Date" %}";
            for (let i = 0; i < chart_family_usage_data.datasets.length; i++) {
                family_usage_tsv += "\t" + chart_family_usage_data.datasets[i].label;
            }
            family_usage_tsv += "\n";
            for (let i = 0; i < chart_family_usage_data.labels.length; i++) {
                let label = chart_family_usage_data.labels[i];
                family_usage_tsv += label;
                for (let j = 0; j < chart_family_usage_data.datasets.length; j++) {
                    let data = chart_family_usage_data.datasets[j].data[i];
                    family_usage_tsv += "\t" + data;
                }
                family_usage_tsv += "\n";
            }
            $("#dl_family_usage").click(function () {
                downloadTSV("family_usage.tsv", family_usage_tsv);
            });

            // RACK USAGE
            let chart_rack_usage_elem = document.getElementById("chart_rack_usage");
            let chart_rack_usage_datasets_labels = [
                {% for rack, data in stats.rack_usage.data.items %}
                    "{% trans "Rack" %} {{ rack }}",
                {% endfor %}];
            let chart_rack_usage_data = {
                labels: {{ stats.rack_usage.labels | safe }},
                datasets: [
                    {% for rack, data in stats.rack_usage.data.items %}
                        {
                            label: "{% trans "Rack" %} {{ rack }}",
                            data: {{ data | safe }},
                            borderColor: getColor({{ forloop.counter0 }}),
                            backgroundColor: getColor({{ forloop.counter0 }}),
                            color: "#FFFFFF",
                        },
                    {% endfor %}
                ]
            };
            let chart_rack_usage_config = {
                type: "bar",
                data: chart_rack_usage_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return chart_rack_usage_datasets_labels[tooltipItems.datasetIndex] + " : " + value + " {% trans "uses" %}";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "Count of rack usage" %}"),
                }
            }
            let chart_rack_usage = new Chart(chart_rack_usage_elem.getContext("2d"), chart_rack_usage_config);
            let rack_usage_tsv = "{% trans "Hour" %}";
            for (let i = 0; i < chart_rack_usage_data.datasets.length; i++) {
                rack_usage_tsv += "\t" + chart_rack_usage_data.datasets[i].label;
            }
            rack_usage_tsv += "\n";
            for (let i = 0; i < chart_rack_usage_data.labels.length; i++) {
                let label = chart_rack_usage_data.labels[i];
                rack_usage_tsv += label;
                for (let j = 0; j < chart_rack_usage_data.datasets.length; j++) {
                    let data = chart_rack_usage_data.datasets[j].data[i];
                    rack_usage_tsv += "\t" + data;
                }
                rack_usage_tsv += "\n";
            }
            $("#dl_rack_usage").click(function () {
                downloadTSV("rack_usage.tsv", rack_usage_tsv);
            });


            // RACK AFF USAGE
            let chart_rack_aff_usage_elem = document.getElementById("chart_rack_aff_usage");
            let chart_rack_aff_usage_datasets_labels = [
                {% for rack, data in stats.rack_aff_usage.data.items %}
                    "{% trans "Rack" %} {{ rack }}",
                {% endfor %}];
            let chart_rack_aff_usage_data = {
                labels: {{ stats.rack_aff_usage.labels | safe }},
                datasets: [
                    {% for rack, data in stats.rack_aff_usage.data.items %}
                        {
                            label: "{% trans "Rack" %} {{ rack }}",
                            data: {{ data | safe }},
                            borderColor: getFollowingColor({{ forloop.counter0 }}),
                            backgroundColor: getFollowingColor({{ forloop.counter0 }}),
                            color: "#FFFFFF",
                        },
                    {% endfor %}
                ]
            };
            let chart_rack_aff_usage_config = {
                type: "bar",
                data: chart_rack_aff_usage_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return chart_rack_aff_usage_datasets_labels[tooltipItems.datasetIndex] + " : " + value + " {% trans "uses" %}";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "Count of rack usage" %}"),
                }
            }
            let chart_rack_aff_usage = new Chart(chart_rack_aff_usage_elem.getContext("2d"), chart_rack_aff_usage_config);
            let rack_aff_usage_tsv = "{% trans "Hour" %}";
            for (let i = 0; i < chart_rack_aff_usage_data.datasets.length; i++) {
                rack_aff_usage_tsv += "\t" + chart_rack_aff_usage_data.datasets[i].label;
            }
            rack_aff_usage_tsv += "\n";
            for (let i = 0; i < chart_rack_aff_usage_data.labels.length; i++) {
                let label = chart_rack_aff_usage_data.labels[i];
                rack_aff_usage_tsv += label;
                for (let j = 0; j < chart_rack_aff_usage_data.datasets.length; j++) {
                    let data = chart_rack_aff_usage_data.datasets[j].data[i];
                    rack_aff_usage_tsv += "\t" + data;
                }
                rack_aff_usage_tsv += "\n";
            }
            $("#dl_rack_aff_usage").click(function () {
                downloadTSV("rack_aff_usage.tsv", rack_aff_usage_tsv);
            });


            {% for rack, data in stats.cases_usage.items %}
                let chart_cases_usage_elem_{{ rack }} = document.getElementById("chart_cases_usage_{{ rack }}");
                let chart_cases_usage_datasets_labels_{{ rack }} = [
                    {% for lbl, data in data.data.items %}
                        "{{ lbl | safe  }}",
                    {% endfor %}];
                let chart_cases_usage_data_{{ rack }} = {
                    labels: {{ data.labels | safe }},
                    datasets: [
                        {% for lbl, data in data.data.items %}
                            {
                                label: "{{ lbl | safe  }}",
                                data: {{ data | safe }},
                                borderColor: getColor({{ forloop.counter0 }}),
                                backgroundColor: getColor({{ forloop.counter0 }}),
                                color: "#FFFFFF",
                            },
                        {% endfor %}
                    ]
                };
                let chart_cases_usage_config_{{ rack }} = {
                    type: "bar",
                    data: chart_cases_usage_data_{{ rack }},
                    options: {
                        plugins: {
                            labels: false,
                        },
                        responsive: true,
                        tooltips: {
                            intersect: false,
                            callbacks: {
                                label: function (tooltipItems, data) {
                                    let value = tooltipItems.yLabel;
                                    return chart_cases_usage_datasets_labels_{{ rack }}[tooltipItems.datasetIndex] + " : " + value + " {% trans "uses" %}";
                                }
                            }
                        },
                        hover: {
                            mode: "point"
                        },
                        scales: getScales("{% trans "Count of cases usage" %}", 10),
                    }
                }
                let chart_cases_usage_{{ rack }} = new Chart(chart_cases_usage_elem_{{ rack }}.getContext("2d"), chart_cases_usage_config_{{ rack }});
                let cases_usage_{{ rack }}_tsv = "{% trans "Case" %},{% trans "Status" %}";
                for (let i = 0; i < chart_cases_usage_data_{{ rack }}.datasets.length; i++) {
                    cases_usage_{{ rack }}_tsv += "\t" + chart_cases_usage_data_{{ rack }}.datasets[i].label;
                }
                cases_usage_{{ rack }}_tsv += "\n";
                for (let i = 0; i < chart_cases_usage_data_{{ rack }}.labels.length; i++) {
                    let label = chart_cases_usage_data_{{ rack }}.labels[i];
                    cases_usage_{{ rack }}_tsv += label;
                    for (let j = 0; j < chart_cases_usage_data_{{ rack }}.datasets.length; j++) {
                        let data = chart_cases_usage_data_{{ rack }}.datasets[j].data[i];
                        cases_usage_{{ rack }}_tsv += "\t" + data;
                    }
                    cases_usage_{{ rack }}_tsv += "\n";
                }
                $("#dl_cases_usage_{{ rack }}").click(function () {
                    downloadTSV("cases_usage_rack_{{ rack }}.tsv", cases_usage_{{ rack }}_tsv);
                });
            {% endfor %}

            // INCIDENT_DATA
            let chart_incident_data_elem = document.getElementById("chart_incident_activity");
            let chart_incident_data_data = {
                labels: {{ stats.incidents_data.labels | safe }},
                datasets: [
                    {% for title, data in stats.incidents_data.data.items %}
                        {
                            label: "{{ title }}",
                            data: {{ data | safe }},
                            borderColor: getColor({{ forloop.counter0 }}),
                            color: "#FFFFFF",
                        },
                    {% endfor %}
                ]
            };
            let chart_incident_data_config = {
                type: "line",
                data: chart_incident_data_data,
                options: {
                    plugins: {
                        labels: false,
                    },
                    responsive: true,
                    tooltips: {
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItems, data) {
                                let value = tooltipItems.yLabel;
                                return value + " {% trans "incident(s)" %}";
                            }
                        }
                    },
                    hover: {
                        mode: "point"
                    },
                    scales: getScales("{% trans "Incidents handling" %}", 10),
                }
            }
            let chart_incident_data = new Chart(chart_incident_data_elem.getContext("2d"), chart_incident_data_config);
            let incident_data_tsv = "{% trans "Date" %}";
            for (let i = 0; i < chart_incident_data_data.datasets.length; i++) {
                incident_data_tsv += "\t" + chart_incident_data_data.datasets[i].label;
            }
            incident_data_tsv += "\n";
            for (let i = 0; i < chart_incident_data_data.labels.length; i++) {
                let label = chart_incident_data_data.labels[i];
                incident_data_tsv += label;
                for (let j = 0; j < chart_incident_data_data.datasets.length; j++) {
                    let data = chart_incident_data_data.datasets[j].data[i];
                    incident_data_tsv += "\t" + data;
                }
                incident_data_tsv += "\n";
            }
            $("#dl_incident_activity").click(function () {
                downloadTSV("incident_data.tsv", incident_data_tsv);
            });
        });
    </script>
{% endblock %}